<div class="p-4"></div>
<div class="d-flex justify-content-center">
  <div class="col-6">
    <div class="row">
      <div class="col-md-12">
        <div class="card border border-light" style="background-color: #f6f6f8; border-radius: 10px">
          <div class="card-body">
            <h4 class="card-title" style="font-size: 40px">Tìm tài khoản của bạn</h4>
            <p>Vui lòng nhập tên tài khoản để tìm kiếm tài khoản của bạn.</p>
            <form [formGroup]="usernameForm" (ngSubmit)="submit(openSuccessModalBtn)">
              <div class="row" style="padding: 15px 50px">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="current-password"><h4>Tên tài khoản</h4></label>
                    <input type="text" class="form-control" name="current-password" placeholder="Vui lòng nhập tên tài khoản của bạn"
                           id="current-password" formControlName="username">
                    <small class="text-danger">{{notFoundMessage}}</small>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-danger mx-1">Hủy bỏ</button>
                <button (click)="changeSpinFlag()" [disabled]="!usernameForm.valid" type="submit" class="btn btn-primary mx-1"><i *ngIf="!spinFlag" class="fa fa-paper-plane"></i> <span *ngIf="spinFlag" class="spinner-border spinner-border-sm" role="status"></span> Xác nhận
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-4"></div>
<button [hidden]="false" #openSuccessModalBtn data-toggle="modal" data-target="#successModal"></button>
<!-- Modal -->
<div class="modal fade" id="successModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Nhập mã xác thực</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="comfirmCode">Mã xác thực đã được gửi vào email của bạn !</label>
          <input type="password" class="form-control" name="current-password" placeholder="Nhập mã xác thực"
                 id="comfirmCode" [(ngModel)]="confirmCode">
          <small class="text-danger">{{errorMessage}}</small>
        </div>

      </div>
      <div class="modal-footer">
        <button #closeModal type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="checkCode(closeModal)">Gửi</button>
      </div>
    </div>
  </div>
</div>
