<div class="p-4"></div>
<div class="d-flex justify-content-center">
  <div class="col-6">
    <div class="row">
      <div class="col-md-12">
        <div class="card border border-light" style="background-color: #f6f6f8; border-radius: 10px">
          <div class="card-body">
            <h4 class="card-title" style="font-size: 40px">Tìm tài khoản của bạn</h4>
            <p>Vui lòng nhập email để tìm kiếm tài khoản của bạn.</p>
            <form [formGroup]="usernameForm" (ngSubmit)="submit(openSuccessModalBtn, countdowm, closeModal, errorModalBtn, resetCodeBtn)">
              <div class="row" style="padding: 15px 50px">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="current-password"><h4>Email</h4></label>
                    <input type="text" class="form-control" name="current-password" placeholder="Vui lòng nhập tên email của bạn"
                           id="current-password" formControlName="email">
                    <small class="text-danger">{{notFoundMessage}}</small>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-danger mx-1"><i class="fa-regular fa-x"></i> Hủy bỏ</button>
                <button (click)="changeSpinFlag()" [disabled]="!usernameForm.valid" type="submit" class="btn btn-primary mx-1"><i *ngIf="!spinFlag" class="fa fa-paper-plane"></i> <span *ngIf="spinFlag" class="spinner-border spinner-border-sm" role="status"></span> Xác nhận
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-4"></div>

<button [hidden]="true" #openSuccessModalBtn data-toggle="modal" data-target="#successModal"></button>
<!-- Modal -->
<div class="modal fade" id="successModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Nhập mã xác thực</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p >Mã xác thực đã được gửi vào email của bạn !</p>
          <input type="text" class="form-control" name="current-password" placeholder="Nhập mã xác thực"
                 id="comfirmCode" [(ngModel)]="confirmCode">
          <small class="text-danger">{{errorMessage}}</small>
          <p class="pt-3 text-danger">Mã sẽ hết hạn sau <countdown #countdowm [config]="config"></countdown>s</p>
        </div>

      </div>
      <div class="modal-footer">
        <button #closeModal type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa-regular fa-x"></i> Hủy</button>
        <button type="button" class="btn btn-primary" (click)="checkCode(closeModal)"><i class="fa fa-paper-plane"></i> Gửi</button>
      </div>
    </div>
  </div>
</div>

<button [hidden]="true" #errorModalBtn data-toggle="modal" data-target="#errorModal"></button>

<!--error modal-->
<div id="errorModal" class="modal fade">
  <div class="modal-dialog modal-confirm modal-confirm-danger">
    <div class="modal-content">
      <div class="modal-header modal-header-danger justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4>Thông báo</h4>
        <p>Mã xác nhận đã hết hạn.</p>
        <button (click)="refreshCode()" class="btn btn-success" data-dismiss="modal">Thử lại</button>
      </div>
    </div>
  </div>
</div>

<button [hidden]="true" #resetCodeBtn (click)="refreshCode()"></button>
