<div class="d-flex justify-content-center">

  <div class="col-9">
    <div class="row">
      <div class="col-md-12">
        <div class="card border border-light" style="background-color: #f6f6f8; border-radius: 5px">
          <div class="card-body">
            <h4 class="card-title" style="font-size: 40px">Đổi mật khẩu</h4>
            <p>Thay đổi mật khẩu cho tài khoản của bạn. Bạn nên đặt mật khẩu mạnh để chặn những truy cập
              trái phép vào tài khoản của mình</p>
            <form [formGroup]="changePasswordForm" (ngSubmit)="update(openSuccessModalBtn, closeModalBtn, errorModalBtn, closeErrorModalBtn)">
              <div class="row" style="padding: 15px 50px">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="current-password">Mật khẩu hiện tại</label>
                    <input type="password" class="form-control" name="current-password"
                           id="current-password" formControlName="currentPassword">
                    <div *ngIf="currentPassword?.touched">
                      <small class="text-danger" *ngIf="currentPassword?.errors?.required">Vui lòng nhập mật khẩu hiện tại.</small>
                      <small class="text-danger" *ngIf="currentPassword?.errors?.pattern">Mật khẩu phải có ít nhất 8 ký tự, 1 chữ viết hoa, 1 chữ viết thường, 1 ký tự đặt biệt, 1 chữ số và không được chứa khoảng trắng, tab, v.v...</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="new-password">Mật khẩu mới</label>
                    <input type="password" class="form-control" name="new-password" id="new-password" formControlName="newPassword">
                    <div *ngIf="newPassword?.touched">
                      <small class="text-danger" *ngIf="newPassword?.errors?.required">Vui lòng nhập mật khẩu mới.</small>
                      <small class="text-danger" *ngIf="newPassword?.errors?.pattern">Mật khẩu phải có ít nhất 8 ký tự, 1 chữ viết hoa, 1 chữ viết thường, 1 ký tự đặt biệt, 1 chữ số và không được chứa khoảng trắng, tab, v.v...</small>
                    </div>
                    <div *ngIf="newPassword.valid && newPassword?.touched">
                      <small class="text-success">Hợp lệ.</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="comfirm-password">Xác nhận mật khẩu mới</label>
                    <input (change)="checkConfirmNewPassword()" type="password" class="form-control" name="comfirm-password"
                           id="comfirm-password" formControlName="confirmNewPassword">
                    <div *ngIf="confirmNewPassword?.touched">
                      <small class="text-danger" *ngIf="confirmNewPassword?.errors?.required">Vui lòng nhập xác nhận mật khẩu mới.</small>
                      <small class="text-danger" *ngIf="confirmNewPassword?.errors?.passwordNoMatch">Xác nhận mật khẩu không khớp với mật khẩu mới.</small>
                    </div>
                    <div *ngIf="confirmNewPassword.valid && confirmNewPassword?.touched">
                      <small class="text-success">Hợp lệ.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-danger mx-1">Hủy bỏ</button>
                <button [disabled]="!changePasswordForm.valid" type="submit" class="btn btn-primary mx-1"><i class="fa fa-paper-plane"></i> Cập nhật
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button [hidden]="true" #openSuccessModalBtn data-toggle="modal" data-target="#successModal"></button>
<!--success modal-->
<div id="successModal" class="modal fade">
  <div class="modal-dialog modal-confirm modal-confirm-success">
    <div class="modal-content">
      <div class="modal-header modal-header-success justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4>Tuyệt!</h4>
        <p>Cập nhật mật khẩu thành công.</p>
        <button #closeModalBtn type="button" class="btn btn-danger" id="delete_btn" data-dismiss="modal" >Đồng ý</button>
      </div>
    </div>
  </div>
</div>

<button [hidden]="true" #errorModalBtn data-toggle="modal" data-target="#errorModal"></button>
<!--error modal-->
<div id="errorModal" class="modal fade">
  <div class="modal-dialog modal-confirm modal-confirm-danger">
    <div class="modal-content">
      <div class="modal-header modal-header-danger justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4>Ooops!</h4>
        <p>Đã có lỗi xảy ra !!!</p>
        <button #closeErrorModalBtn class="btn btn-success" data-dismiss="modal">Thử lại</button>
      </div>
    </div>
  </div>
</div>
