
<div class="container pt-2">
  <div class="row">
    <div class="col-md-12 ">
      <div class="card border-secondary abc">
        <div class="card-body">
          <h4 class="card-title">Thông tin khách hàng</h4>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="name">Họ và tên</label>
                <input type="text" class="form-control" name="name" id="name">
              </div>
              <div class="form-group">
                <label for="address">Địa chỉ</label>
                <textarea class="form-control" name="address" id="address" row="20"></textarea>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email">
              </div>
              <div class="form-group">
                <label for="contactNo">Số điện thoại</label>
                <input type="number" class="form-control" name="contactNo" id="contactNo">
              </div>
              <div class="form-group">
                <label for="contactNo">Ngày sinh</label>
                <input type="date" class="form-control" name="contactNo" id="Age">
              </div>
              <div>
                <label for="rdo1" style="margin-right: 10px">
                  <input type="radio" id="rdo1" name="radio">
                  <span class="rdo"></span>
                  <span>Nam</span>
                </label>

                <label for="rdo2">
                  <input type="radio" id="rdo2" name="radio" checked>
                  <span class="rdo"></span>
                  <span>Nữ</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-secondary mt-2 abc">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between">Thông tin sản phẩm
              <button type="button"
                      class="btn btn-outline-secondary">Quét mã Qr
              </button>
              <button type="button"
                      class="btn btn-outline-secondary">+ Thêm sản phẩm
              </button>
            </h4>
            <div class="row">
              <table class="table">
                <thead>
                <tr>
                  <th width="25%">Tên sản phẩm</th>
                  <th width="25%">Giá</th>
                  <th width="25%">Số lượng</th>
                  <th width="25%"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td scope="row">
                    <input type="text" class="form-control" name="productName" id="productName">
                  </td>
                  <td>
                    <input type="number" class="form-control" name="price" id="price">
                  </td>
                  <td>
                    <input type="number" class="form-control" name="quantity" id="quantity">
                  </td>
                  <td></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card border-secondary mt-2 mb-4 abc">
          <div class="mt-5 mb-2 ml-5 mr-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Thành tiền</label>
              <div class="col-sm-6">
                <input type="email" class="form-control" id="inputEmail3">
              </div>
            </div>
            <fieldset class="form-group row">
              <legend class="col-form-label col-sm-2 float-sm-left pt-0">Hình thức thanh toán</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                         value="option1" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Tiền mặt
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                         value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    Dùng thẻ
                  </label>
                </div>
              </div>
            </fieldset>
            <div class="form-group row">
              <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck1">
                  <label class="form-check-label" for="gridCheck1">
                    In hóa đơn
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row ">
              <div class="col-sm-12 text-center" style="">
                <button type="submit" class="btn btn-danger">Tiến hành thanh toán</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
