<div class="container pt-2">
  <div class="row">
    <div class="col-md-12 ">
      <form [formGroup]="fromCustomer" (ngSubmit)="getCustomer()" >
        <div class="card border-secondary shadow">
          <div class="card-body">
            <h4 class="card-title">Thông tin khách hàng
              <button type="button" class="btn btn-outline-secondary">Chọn khách hàng cũ</button>
            </h4>

            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="name">Họ và tên</label>
                  <input type="text" class="form-control" name="name" id="name" formControlName="customerName">
                  <div *ngIf="customerName.invalid&&(customerName.touched||customerName.dirty)">
                    <p [hidden]="!customerName.errors.required">
                      <span style="color: red">Không được bỏ trống</span>
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="address">Địa chỉ</label>
                  <textarea class="form-control" name="address" id="address" row="7"
                            formControlName="address"></textarea>
                  <div *ngIf="customerName.invalid&&(customerName.touched||customerName.dirty)">
                    <p [hidden]="!customerName.errors.required">
                      <span style="color: red">Không được bỏ trống</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" id="email" formControlName="email">
                  <div *ngIf="email.invalid&&(email.touched||email.dirty)">
                    <p [hidden]="!email.errors.required">
                      <span style="color: red">Không được bỏ trống</span>
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Số điện thoại</label>
                  <input type="text" class="form-control" name="contactNo" id="phoneNumber"
                         formControlName="phoneNumber">
                  <div *ngIf="phoneNumber.invalid&&(phoneNumber.touched||phoneNumber.dirty)">
                    <p [hidden]="!phoneNumber.errors.required">
                      <span style="color: red">Không được bỏ trống</span>
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="dateOfBirth">Ngày sinh</label>
                  <input type="date" class="form-control" name="dateOfBirth" id="dateOfBirth"
                         formControlName="dateOfBirth">
                  <div *ngIf="dateOfBirth.invalid&&(dateOfBirth.touched||dateOfBirth.dirty)">
                    <p [hidden]="!dateOfBirth.errors.required">
                      <span style="color: red">Không được bỏ trống</span>
                    </p>
                  </div>
                </div>
                <div>
                  <label for="rdo1" style="margin-right: 10px">
                    <input type="radio" id="rdo1" formControlName="gender" value="1" name="gender" >
                    <span class="rdo"></span>
                    <span>Nam</span>
                  </label>
                  <label for="rdo2">
                    <input type="radio" id="rdo2" formControlName="gender" name="gender" value="2">
                    <span class="rdo"></span>
                    <span>Nữ</span>
                  </label>
                  <div *ngIf="gender.invalid&&(gender.touched||gender.dirty)">
                    <p [hidden]="!gender.errors.required">
                      <span style="color: red">Không được bỏ trống</span>
                    </p>
                  </div>
                </div>
                <button #submitCustomer hidden   type="submit"
                        class="btn btn-outline-secondary">chọn
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
<!--      <form #invoiceForm="ngForm">-->
        <div class="card  border-secondary mt-2 mb-4 shadow" style="padding-top: 15px">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between">Thông tin sản phẩm
              <button type="button"
                      class="btn btn-outline-secondary">Quét mã Qr
              </button>
              <button type="button"
                      class="btn btn-outline-secondary" data-toggle="modal" data-target="#productModal" >+ Thêm sản phẩm
              </button>
            </h4>
            <div class="row">
              <table class="table">
                <thead>
                <tr>
                  <th width="25%">Tên sản phẩm</th>
                  <th width="25%">Giá</th>
                  <th width="25%">Số lượng</th>
                  <th width="25%">Amount</th>
                  <th width="25%"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of invoiceDetail.productInvoiceDtoList; let i=index">
<!--                  <input type="hidden" [(ngModel)]="product.productId" >-->
                  <td scope="row">
                    <input type="text" class="form-control" name="productName{{i}}}" id="productName"
                           [(ngModel)]="product.product.name" #productName='ngModel'>
                  </td>
                  <td>
                    <input type="number" class="form-control" name="price{{i}}" id="price"
                           [(ngModel)]="product.product.price" #price='ngModel'>
                  </td>
                  <td>
                    <input type="number" class="form-control" name="quantity{{i}}" id="quantity"
                           [(ngModel)]="product.quantity" #quantity='ngModel' (change)="getTotalMoney(product.quantity)">
                  </td>
                  <td>
                    {{product.product.price * product.quantity || ''}}
                    <button type="button"
                            class="btn btn-outline-secondary" >+ sản phẩm
                    </button>
                    <button type="button"
                            class="btn btn-outline-secondary" (click)="removeProduct(i)">- sản phẩm
                    </button>
                  </td>
                </tr>



<!--                <tr *ngFor="let product of invoiceDetail.productInvoiceDtoList; let i=index">-->
<!--                  <input type="hidden" [(ngModel)]="product.productId" >-->
<!--                  <td scope="row">-->
<!--                    <input type="text" class="form-control" name="productName{{i}}}" id="productName"-->
<!--                           [(ngModel)]="product.name" #productName='ngModel'>-->
<!--                  </td>-->
<!--                  <td>-->
<!--                    <input type="number" class="form-control" name="price{{i}}" id="price"-->
<!--                           [(ngModel)]="product.price" #price='ngModel'>-->
<!--                  </td>-->
<!--                  <td>-->
<!--                    <input type="number" class="form-control" name="quantity{{i}}" id="quantity"-->
<!--                           [(ngModel)]="product.quantity" #quantity='ngModel' (change)="getTotalMoney()">-->
<!--                  </td>-->
<!--                  <td>-->
<!--                    {{product.price * product.quantity || ''}}-->
<!--                    <button type="button"-->
<!--                            class="btn btn-outline-secondary" data-toggle="modal" data-target="#productModal" (click)="chooseProduct(product[i])">+ sản phẩm-->
<!--                    </button>-->
<!--                    <button type="button"-->
<!--                            class="btn btn-outline-secondary" (click)="removeProduct(i)">- sản phẩm-->
<!--                    </button>-->
<!--                  </td>-->
<!--                </tr>-->
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card  border-secondary mt-2 mb-4 shadow">
          <div class="mt-5 mb-2 ml-5 mr-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Thành tiền</label>
              <div class="col-sm-6">
                <input type="email" class="form-control" id="inputEmail3" value="{{invoice.totalMoney}}" readonly>
              </div>
            </div>
            <fieldset class="form-group row">
              <legend class="col-form-label col-sm-2 float-sm-left pt-0">Hình thức thanh toán</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                         value="{{payments}}" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Tiền mặt
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                         value="{{payments}}">
                  <label class="form-check-label" for="gridRadios2" >
                    Dùng thẻ
                  </label>
                </div>
              </div>
            </fieldset>
            <div class="form-group row">
              <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck1">
                  <label class="form-check-label" for="gridCheck1">In hóa đơn</label>
                </div>
              </div>
            </div>
            <div class="form-group row ">
              <div class="col-sm-12 text-center" style="">
                <button type="submit" class="btn btn-danger" (click)="create(submitCustomer)">Tiến hành thanh toán</button>
              </div>
            </div>
          </div>
        </div>
<!--      </form>-->
    </div>
  </div>
</div>




<!--Created by TamHT-->
<!--Time: 14:15 1/06/2022-->
<!--Function: delete product-->

<!--modal product-->
<div class="modal fade" id="productModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card card-body">
          <h3 class="text-center font-weight-bold text-uppercase  py-4">
            Quản Lý Danh Sách Nhà Cung Cấp
          </h3>
        </div>
        <div class="card card-body">
          <div class="table-editable">
            <div class="row">
              <div class="col-12">
                <div class="mb-3" style="display: flex; justify-content: space-evenly">
                  <div>
                    <p style="margin-top: 10px">Tìm kiếm theo: </p>
                  </div>
                  <div>
                    <select class="search-select background-search">
                      <option value="">Tên sản phẩm</option>
                      <option value="">Số giá</option>
                    </select>
                  </div>

                  <div style="position: relative">
                    <input style="width: 300px" class="header-search search-input background-search"
                           placeholder="Bạn cần tìm gì?"
                           type="text"><i
                    class="fa fa-search"
                    style="position: absolute; right: 15px; top: 9px; font-size: 20px"></i>
                  </div>
                  <div>
                    <button class="btn-search btn-rounded  btn-sm my-0" style="width: 100px">Tìm
                      kiếm
                    </button>
                  </div>
                </div>
                <!--                search-->

              </div>
            </div>
            <div>
              <div class="tbl-header">
                <table class="table table-bordered table-responsive-md ">
                  <thead>
                  <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Tên Sản Phẩm</th>
                    <th class="text-center">Mã Sản Phẩm</th>
                    <th class="text-center">Giá(VND)</th>
                    <th class="text-center">CPU</th>
                    <th class="text-center">Lưu Trữ</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="tbl-content">
                <table class=" table table-bordered table-responsive-md">
                  <tbody>
                  <tr (click)="getProduct(product)" *ngFor="let product of productList; index as i"
                      [class.heightLight]="isSelectedProduct(product)">
                    <td class="text-center">{{(i + 1)}}</td>
                    <td class="pt-3-half">{{product.name}}</td>
                    <td class="pt-3-half">{{product.id}}</td>
                    <td class="text-center">{{product.price}}</td>
                    <td class="pt-3-half">{{product.cpu}}</td>
                    <td class="pt-3-half">{{product.memory}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <br>
              <div class="row">
                <div class="col-6">
                  <button (click)="chooseProduct()" type="button" class="btn-edit btn-rounded  btn-lg my-0">
                    <i class="fa fa-paper-plane"></i>
                    Chọn</button>
                  <button type="button" class="btn-delete btn-rounded  btn-lg my-0"
                          data-dismiss="modal"><i class="fa-solid fa-right-from-bracket"></i> Thoát
                  </button>
                </div>

                <div class="col-6">
                  <!--Pagination-->
                  <nav class="d-flex justify-content-center wow fadeIn float-right">
                    <ul class="pagination pg-blue">

                      <!--Arrow left-->
                      <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>

                      <li class="page-item active">
                        <a class="page-link" href="#">1
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <!--Pagination-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--modal product-->
