<!--/*-->
<!--Created by LongNHL-->
<!--Time: 9:30 2/06/2022-->
<!--Function: create invoice-->
<!--*/-->
<form [formGroup]="invoiceForm" (ngSubmit)="createInvoice(success)">
  <div class="container pt-2">
    <h1 style="font-size: 36px" class="text-center font-weight-bold text-uppercase  py-4">
      Quản lý bán hàng
    </h1>
    <div class="row">
      <div class="col-md-12 ">
        <div class="card border-secondary shadow">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between">Thông tin khách hàng
              <button (click)="onchanges()" type="button"
                      class="btn btn-outline-secondary" data-toggle="modal" data-target="#customerModal"
              >Chọn khách hàng cũ
              </button>
            </h4>
            <div class="row" formGroupName="customerDto">
              <div class="col-md-8">
                <!--                <input type="hidden" formControlName="id">-->
                <div class="form-group">
                  <label for="name">Họ và tên <span class="text-danger">(*)</span>:</label>
                  <input type="text" class="form-control" name="name" id="name" formControlName="customerName"
                         [value]="customer.customerName" [readOnly]="disableFlag">
                  <div *ngIf="invoiceForm.get('customerDto.customerName').invalid
                       && (invoiceForm.get('customerDto.customerName')?.touched||invoiceForm.get('customerDto.customerName')?.dirty)">
                    <small *ngIf="invoiceForm.get('customerDto.customerName')?.errors?.required" class="messageError">
                      Vui lòng nhập họ tên khách hàng!
                    </small>
                    <small *ngIf="invoiceForm.get('customerDto.customerName')?.errors?.pattern" class="messageError">
                      Vui lòng nhập họ tên đúng định dạng không số!
                    </small>
                  </div>
                  <small class="messageError"
                         *ngIf="invoiceForm.get('customerDto.customerName').errors?.empty">Không được để trống.
                  </small>
                </div>
                <div class="form-group">
                  <label for="address">Địa chỉ <span class="text-danger">(*)</span>:</label>
                  <textarea class="form-control" name="address" id="address" row="3" maxlength="100"
                            formControlName="address"
                            [value]="customer.address" [readOnly]="disableFlag"
                  ></textarea>
                  <div *ngIf="invoiceForm.get('customerDto.address').invalid
                       && (invoiceForm.get('customerDto.address')?.touched||invoiceForm.get('customerDto.address')?.dirty)">
                    <small *ngIf="invoiceForm.get('customerDto.address')?.errors?.required" class="messageError">
                      Vui lòng nhập địa chỉ!
                    </small>
                    <small *ngIf="invoiceForm.get('customerDto.address')?.errors?.maxlength" class="messageError">
                      Vui lòng nhập địa chỉ quá dài!
                    </small>
                  </div>
                  <small class="messageError"
                         *ngIf="invoiceForm.get('customerDto.address').errors?.empty">Không được để trống.
                  </small>
                  <!--                  <small class="messageError"-->
                  <!--                       *ngIf="errorMap['customerDto.address'] != null">{{errorMap['customerDto.address']}}-->
                  <!--                  </small>-->
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="email">Email <span class="text-danger">(*)</span>:</label>
                  <input type="email" class="form-control" name="email" id="email" formControlName="email"
                         value="customer.email" [readOnly]="disableFlag">
                  <div *ngIf="invoiceForm.get('customerDto.email').invalid
                       && (invoiceForm.get('customerDto.email')?.touched||invoiceForm.get('customerDto.email')?.dirty)">
                    <small *ngIf="invoiceForm.get('customerDto.email')?.errors?.required" class="messageError">
                      Vui lòng nhập email!
                    </small>
                    <small *ngIf="invoiceForm.get('customerDto.email')?.errors?.pattern" class="messageError">
                      Vui lòng nhập đúng định dạng email!
                    </small>
                  </div>
                  <small class="messageError"
                         *ngIf="invoiceForm.get('customerDto.email').errors?.empty">Không được để trống.
                  </small>
                  <!--                  <div class="col alert alert-danger" role="alert"-->
                  <!--                       *ngIf="errorMap['customerDto.email'] != null">{{errorMap['customerDto.email']}}-->
                  <!--                  </div>-->
                </div>
                <div class="form-group">
                  <label for="contactNo">Số điện thoại <span class="text-danger">(*)</span>:</label>
                  <input type="text" class="form-control" name="contactNo" id="contactNo" formControlName="phoneNumber"
                         [value]="customer.phoneNumber" [readOnly]="disableFlag">
                  <div *ngIf="invoiceForm.get('customerDto.phoneNumber').invalid
                       && (invoiceForm.get('customerDto.phoneNumber')?.touched||invoiceForm.get('customerDto.phoneNumber')?.dirty)">
                    <small *ngIf="invoiceForm.get('customerDto.phoneNumber')?.errors?.required" class="messageError">
                      Vui lòng nhập số điện thoại!
                    </small>
                    <small *ngIf="invoiceForm.get('customerDto.phoneNumber')?.errors?.pattern" class="messageError">
                      Vui lòng nhập đúng định dạng số điện thoại !
                    </small>
                  </div>
                  <small class="messageError"
                         *ngIf="invoiceForm.get('customerDto.phoneNumber').errors?.empty">Không được để trống.
                  </small>
                  <!--                  <small class="messageError"-->
                  <!--                       *ngIf="errorMap['customerDto.phoneNumber'] != null">{{errorMap['customerDto.phoneNumber']}}-->
                  <!--                  </small>-->
                </div>
                <div class="form-group">
                  <label for="contactNo">Ngày sinh <span class="text-danger">(*)</span>:</label>
                  <input type="date" class="form-control" name="contactNo" id="Age" formControlName="dateOfBirth"
                         [value]="customer.dateOfBirth" [readOnly]="disableFlag">
                  <div *ngIf="invoiceForm.get('customerDto.dateOfBirth').invalid
                       && (invoiceForm.get('customerDto.dateOfBirth')?.touched||invoiceForm.get('customerDto.dateOfBirth')?.dirty)">
                    <small *ngIf="invoiceForm.get('customerDto.dateOfBirth')?.errors?.required" class="messageError">
                      Vui lòng nhập ngày sinh !
                    </small>
                    <small *ngIf="invoiceForm.get('customerDto.dateOfBirth')?.errors?.pattern" class="messageError">
                      Vui lòng nhập đúng định dạng ngày sinh !
                    </small>
                  </div>
                  <small class="messageError"
                         *ngIf="invoiceForm.get('customerDto.dateOfBirth').errors?.empty">Không được để trống.
                  </small>
                  <!--                  <small class="messageError"-->
                  <!--                         *ngIf="errorMap['customerDto.dateOfBirth'] != null">{{errorMap['customerDto.dateOfBirth']}}-->
                  <!--                  </small>-->
                </div>
                <div class="form-group">
                  <label for="rdo1" style="margin-right: 10px">
                    <input type="radio" id="rdo1" formControlName="gender" name="gender"
                           [value]="true" checked>
                    <span class="rdo"></span>
                    <span>Nam</span>
                  </label>
                  <label for="rdo2">
                    <input type="radio" id="rdo2" formControlName="gender" name="gender"
                           [value]="false" [readOnly]="disableFlag">
                    <span class="rdo"></span>
                    <span>Nữ</span>
                  </label>
                  <div class="col alert alert-danger" role="alert"
                       *ngIf="invoiceForm.get('customerDto.gender')?.errors?.required&& invoiceForm.get('customerDto.gender')?.touched">
                    Vui lòng nhập gới tính!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-secondary mt-2 shadow">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between">Thông tin sản phẩm
              <button type="button"
                      class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">Quét mã Qr
              </button>
              <button (click)="onchanges()" type="button"
                      class="btn btn-outline-secondary" data-toggle="modal" data-target="#productModal">+ Thêm sản phẩm
              </button>
            </h4>
            <div class="row">
              <table class="table">
                <thead>
                <tr>
                  <th width="25%">Tên sản phẩm</th>
                  <th width="25%">Giá</th>
                  <th width="25%">Số lượng</th>
                  <th width="25%"></th>
                </tr>
                </thead>
                <tbody formArrayName="products">
                <tr *ngFor="let product of products.controls; let  i = index" [formGroupName]="i">
                  <input type="hidden" formGroupName="id">
                  <td scope="row">
                    <input type="text" class="form-control" name="productName" id="productName" formControlName="name"
                           readonly>
                  </td>
                  <td>
                    <input type="text" class="form-control" name="price" id="price" formControlName="price"
                           readonly>
                  </td>
                  <td>
                    <input type="text" class="form-control" name="quantity" id="quantity" formControlName="quantity"
                           (change)="getTotalMoney()">
                    <div *ngIf="product.get('quantity')?.errors?.required">
                      <span class="messageError">Vui lòng nhập số lượng!</span>
                    </div>
                    <div *ngIf="product.get('quantity')?.errors?.pattern&&product.get('quantity')?.touched">
                      <span class="messageError">Vui lòng nhập số lượng > 0 và đúng định dạng</span>
                    </div>
                  </td>
                  <td>
                    <button type="button"
                            class="btn btn-outline-secondary" (click)="deleteProduct(i,products.controls.length)"> Xóa
                      sản phẩm
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              <div *ngIf="flagNoProduct">
                <p>Vui lòng chọn sản phẩm</p>
              </div>
              <!--              <div *ngIf="flagProductNull">-->
              <!--                <span class="messageError"-->
              <!--                      *ngIf="errorMap['productList']!=null" class="messageError">{{errorMap['productList']}}-->
              <!--                </span>-->
              <!--              </div>-->
              <!--              <div >-->
              <!--                <div class="messageError" *ngFor ="let err of dict;let i = index" >-->
              <!--                  <p>{{dict[i].value}}</p>-->
              <!--                </div>-->
              <!--              </div>-->
              <div *ngIf="flagProductNull">
                    <span class="messageError"
                          *ngIf="errorMap['productList']!=null" class="messageError">{{errorMap['productList']}}
                    </span>
              </div>
              <div *ngIf="!flagProduct">
                <div class="messageError" *ngFor="let err of dict;let i = index">
                  <p>{{dict[i].value}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-secondary mt-2  shadow">
            <div class="mt-5 mb-2 ml-5 mr-5">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Thành tiền</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="inputEmail3" formControlName="totalMoney"
                         value="{{money|currency :'VND':''}}" readonly>
                </div>
              </div>
              <fieldset class="form-group row">
                <legend class="col-form-label col-sm-2 float-sm-left pt-0">Hình thức thanh toán</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="payments" id="gridRadios1"
                           value="Tiền mặt" formControlName="payments" checked>
                    <label class="form-check-label" for="gridRadios1">
                      Tiền mặt
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="payments" id="gridRadios2"
                           value="Dùng thẻ" formControlName="payments">
                    <label class="form-check-label" for="gridRadios2">
                      Quét thẻ / chuyển khoản.
                    </label>
                    <div *ngIf="invoiceForm.get('payments')?.errors?.required">
                      <span class="messageError">Vui lòng chọn hình thức thanh toán!</span>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1" name="price"
                           (click)="print('yes')">
                    <label class="form-check-label" for="gridCheck1">
                      In hóa đơn
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row ">
                <div class="col-sm-12 text-center">
                  <!--                <button type="submit" class="btn btn-danger">Tiến hành thanh toán-->
                  <!--                </button>-->
                  <div *ngIf="!flagProduct">
                    <p class="col alert alert-danger" role="alert"
                       *ngIf="errorMap['validProduct']!=null" class="messageError">{{errorMap['validProduct']}}
                    </p>
                  </div>
                  <button type="submit" class="btn btn-grad-red">Tiến hành thanh toán
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
<!--modal success-->
<button [hidden]="true" #success data-toggle="modal" data-target="#modal-success"></button>
<!--<button [hidden]="true" #success data-toggle="modal" data-target="#modal-error"  ></button>-->
<!--success modal-->
<div id="modal-success" class="modal fade">
  <div class="modal-dialog modal-confirm modal-confirm-success">
    <div class="modal-content">
      <div class="modal-header modal-header-success justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4>Thông Báo!</h4>
        <p>Tạo đơn bán hàng thành công.</p>
        <button #closeModalBtn type="button" class="btn-modal btn-grad-blue" data-dismiss="modal">Đồng ý</button>
      </div>
    </div>
  </div>
</div>
<!--modal success-->
<!--modal error-->
<div id="modal-error" class="modal fade">
  <div class="modal-dialog modal-confirm modal-confirm-danger">
    <div class="modal-content">
      <div class="modal-header modal-header-danger justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4>Thông báo</h4>
        <p>Sản phẩm dã được chọn, vui lòng cập nhật số lượng !</p>
        <button #closeErrorModal class="btn-modal btn-grad-red" data-dismiss="modal">Thử lại</button>
      </div>
    </div>
  </div>
</div>
<div [hidden]="true" id="main-container">

</div>
<!--modal error-->

<!--modal QRcode product-->
<app-qr-code (sendProduct)="getProductQR($event)"></app-qr-code>
<app-list-choose-product-modal (itemOutput)="getProductModal($event)"
                               [item]="checkOnchange"></app-list-choose-product-modal>
<app-list-customer-modal (itemOutput)="getCustomerModal($event)" [item]="checkOnchange"></app-list-customer-modal>
