/*
  Created by CongNV
  Date : 04/06/2022
  Function: Search,Pageable
*/

<div class="container-fluid" style="width: 1000px">

  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form [formGroup]="formSearch" class="d-flex">
        <input formControlName="keyword" class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" style="width: 130px" (click)="getSearch('','',0)">Tìm
          kiếm
        </button>
      </form>
    </div>
  </nav>

  <table class="table">
    <thead>
    <tr>
      <th>id</th>
      <th>Ngày</th>
      <th>Thời gian</th>
      <th>Họ và tên khách hàng</th>
      <th>Thông tin sản phẩm</th>
      <th>Tổng tiền</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let invoice of invoiceList ;index as i">
      <td>{{i + 1}}</td>
      <td>{{invoice.createDate }}</td>
      <td>{{invoice.createTime}}</td>
      <td>{{invoice.customerName}}</td>
      <td style="text-align: center"><a class="btn btn-warning" data-toggle="modal" data-target="#staticBackdrop"
                                        (click)="getInvoiceDetailId(invoice.quantity,invoice.productName)">Chi tiết</a>
      </td>
      <td>{{invoice.totalMoney | currency : 'VND'}}</td>
    </tr>
    </tbody>
  </table>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" (click)="previous()">Previous</a>
    </li>
    <li class="page-item"><a class="page-link">{{page+1}}</a></li>
<!--    <li class="page-item"><a class="page-link">{{+totalPages}}</a></li>-->
    <li class="page-item">
      <a class="page-link" (click)="next()">Next</a>
    </li>
  </ul>
</nav>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Thông tin chi tiết</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{productName}}</td>
            <td>{{productQuantity}}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
