


<div class="container-fluid" style="width: 1000px">

  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" style="width: 130px">Tìm kiếm</button>
      </form>
    </div>
  </nav>

  <table class="table" >
    <thead>
    <tr>
      <th >id</th>
      <th >Ngày</th>
      <th >Thời gian</th>
      <th >Họ và tên khách hàng</th>
      <th >Thông tin sản phẩm</th>
      <th >Tổng tiền</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let invoice of invoiceList ;index as i">
      <td>{{i +1}}</td>
      <td>{{invoice.createDate}}</td>
      <td>{{invoice.createTime}}</td>
      <td>{{invoice.customerName}}</td>
      <td>{{invoice.productName}}</td>
      <td>{{invoice.totalMoney}}</td>
    </tr>
    </tbody>
  </table>
</div>
