<!--/*-->
<!--Created by tamHT-->
<!--Time: 13:37 03/06/2022-->
<!--Method: pageProduct()-->
<!--*/-->
<button (click)="getAll()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerModal">
  Launch demo modal
</button>
<div style="display: flex  ; justify-content: center ">
  <div class="modal fade" id="customerModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="card card-body">
            <h1 style="font-size: 36px" class="text-center font-weight-bold text-uppercase  py-4">
              CHỌN KHÁCH HÀNG
            </h1>
          </div>
          <div class="card card-body">
            <div class="table-editable">
              <div class="row ml-1">
                <div class="col-12">
                  <div class="mb-3" style="display: flex;">
                    <div>
                      <p style="margin-top: 10px">Tìm kiếm theo: </p>
                    </div>
                    <div class="mx-2">
                      <select [(ngModel)]="checkSearch" class="search-select background-search">
                        <option value="name">Tên khách hàng</option>
                        <option value="phone">Số điện thoại</option>
                      </select>
                    </div>

                    <div [formGroup]="formSearch" style="position: relative">
                      <input [(ngModel)]="searchValue" #element style="width: 300px"
                             class="header-search search-input background-search"
                             placeholder="Bạn cần tìm gì?"
                             (change)="search(element.value)"
                             formControlName="keySearch"
                             type="text"><i (click)="search(element.value)"
                                            class="fa fa-search"
                                            style="position: absolute; right: 15px; top: 9px; font-size: 20px"></i>
                    </div>
                  </div>
                  <!--                search-->

                </div>
              </div>

              <div>
                <h2 class="text-danger d-flex justify-content-center" style="padding: 164px ; font-size: 35px"
                    *ngIf="message">Không tìm thấy khách hàng.</h2>
                <!--           hiển thị message lỗi-->
                <div *ngIf="!message">
                  <div class="tbl-header">
                    <table class="table table-bordered table-responsive-md ">
                      <thead>
                    <tr>
                      <th width="60px" class="text-center">STT</th>
                      <th width="200px" class="text-center">Họ và tên</th>
                      <th width="100px" class="text-center">Mã khách hàng</th>
                      <th class="text-center">Số điện thoại</th>
                      <th  width="200px" class="text-center">Địa chỉ</th>
                      <th class="text-center">Sgày sinh</th>
                      <th class="text-center">Email</th>
                    </tr>
                    </thead>
                    </table>
                  </div>

                  <div class="tbl-content">
                    <table class=" table table-bordered table-responsive-md">
                      <tbody>
                      <tr style="cursor: pointer" (click)="getCustomer(customer)"
                      *ngFor="let customer of customerList; index as i"
                          [class.heightLight]="isSelected(customer)">
                        <td  width="60px" class="text-center">{{(pageNumber)*customerList.length+(i+1)}}</td>
                        <td width="200px" class="pt-3-half ">{{customer.customerName}}</td>
                        <td width="100px" class="text-center">{{customer.id}}</td>
                        <td class="text-center">{{customer.phoneNumber}}</td>

                        <td  width="200px" class="text-center desc"><i data-toggle="tooltip" data-placement="top"
                                                        title="{{customer.address}}">
                          {{customer.address}}</i>
                        </td>
                        <td class="text-center">{{customer.dateOfBirth| date : "dd/MM/yyyy"}}  </td>
                        <td class="text-center desc"><i data-toggle="tooltip" data-placement="top"
                                                        title="{{customer.email}}">
                          {{customer.email}}</i>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <br>


                <div class="row my-3 ml-3">
                  <div class="row col-4">
                    <button *ngIf="currentCustomer" (click)="chooseCustomer(exit)" type="button"
                            class="btn btn-grad-blue  btn-lg my-0 mx-0">
                      <i class="fa fa-paper-plane"></i>
                      Chọn
                    </button>
                    <button (click)="close()" type="button"
                            class="btn btn-grad-red  btn-lg mx-2"
                            data-dismiss="modal"><i class="fa-solid fa-right-from-bracket"></i> Thoát
                    </button>
                    <button [hidden]="true" #exit type="button" class="btn-delete btn-rounded  btn-lg mx-0"
                            data-dismiss="modal"><i class="fa-solid fa-right-from-bracket"></i> Thoát
                    </button>
                  </div>

                  <div style="cursor: pointer" *ngIf="!message" class="col-4 d-flex justify-content-center">
                    {{(pageNumber + 1) + '/' + totalPages}}
                  </div>
                  <div class="col-4">
                    <!--Pagination-->
                    <nav *ngIf="!message" class="d-flex justify-content-end wow fadeIn">
                      <ul class="pagination">
                        <li *ngIf="!first " style="color: #333333" class="page-item"><a
                          (click)="previousPage()" class="page-link"
                          style="width:90px ; height: 40px ;text-align: center ; line-height: 35px ; color: blue; box-sizing: border-box ; background-color: white ; cursor: pointer">Trang
                          trước</a>
                        </li>
                        <li style="color: #333333" class="page-item"><a class="page-link"
                                                                        style="width:40px ; height: 40px ;text-align: center ; line-height: 35px ; color: blue; box-sizing: border-box ; background-color: white ; cursor: pointer">{{pageNumber + 1}}</a>
                        </li>
                        <li *ngIf="!last" style="color: #333333" class="page-item"><a (click)="nextPage()"
                                                                                      class="page-link"
                                                                                      style="width:70px ;text-align: center ; height: 40px ;color: blue; line-height: 35px ; box-sizing: border-box;  background-color: white; cursor: pointer"
                        >Trang kế</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>


                <!--                end panigation-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--modall-->
<div id="customerModals" class="modal fade">
  <div class="modal-dialog modal-confirm modal-confirm-danger">
    <div class="modal-content">
      <div class="modal-header modal-header-danger justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
      </div>
      <div class="modal-body text-center">
        <h4>Thông báo</h4>
        <p>Không có khách hàng nào được chọn.</p>
        <button class="btn-modal btn btn-danger" data-dismiss="modal">Thử lại</button>
      </div>
    </div>
  </div>
</div>
<div [hidden]="true" id="main-container">

</div>
