button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  /*box-shadow: 0 0 4px #999;*/
  outline: none;
}

.btn-rounded {
  border-radius: 3px;
}

.btn-edit {
  /*background-position: center;*/
  transition: background 0.8s;
  background-color: #277CEA;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px, rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  width: 30%;
  height: 40px;
  vertical-align: middle;
  margin-right: 5px;
}

.btn-edit:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.btn-edit:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.btn-delete {
  background-position: center;
  transition: background 0.8s;
  background-color: #D70018;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px, rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  width: 30%;
  height: 40px;
  vertical-align: middle;
}

.btn-delete:hover {
  background: #D70018 radial-gradient(circle, transparent 1%, #D70018 1%) center/15000%;
}

.btn-delete:active {
  background-color: #fa4665;
  background-size: 100%;
  transition: background 0s;
}

.btn-search {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  background-position: center;
  transition: background 0.8s;
  width: 49%;
  background-color: #277CEA;
}

/*button*/

.card-body {
  flex: 1 1 auto;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/*search*/
/*.active-cyan-3 input[type=text] {*/
/*    border: 1px solid #4dd0e1;*/
/*    box-shadow: 0 0 0 1px #4dd0e1;*/
/*}*/


/*@import url(https://fonts.googleapis.com/css?family=Roboto:300);*/
/*body {*/
/*    padding: 0 1rem;*/
/*    background: #f3f3f3;*/
/*    font-family: 'Roboto', sans-serif;*/
/*}*/

/*h1, input {*/
/*    color: #444;*/
/*    font-family: 'Roboto', sans-serif;*/
/*    font-weight: 300;*/
/*}*/

/*h1 {*/
/*    border-bottom: 1px dashed #666;*/
/*    padding-bottom: 16px;*/
/*}*/

/*form {*/
/*    padding: 0;*/
/*    margin-bottom: 10px;*/
/*}*/

/*!* Expandable search box *!*/
/*!* Note: don't change 0.8s in transition. *!*/
/*!* --------------------- *!*/
/*input.search-text {*/
/*    color: #222;*/
/*    position: relative;*/
/*    z-index: 5;*/
/*    transition: z-index 0.8s, width 0.5s, background 0.3s ease, border 0.3s;*/
/*    height: 60px;*/
/*    width: 0;*/
/*    margin: 0;*/
/*    padding: 5px 0 5px 40px;*/
/*    box-sizing: border-box;*/
/*    font-size: 16px;*/
/*    font-size: 1rem;*/
/*    cursor: pointer;*/
/*    border-radius: 30px;*/
/*    border: 1px solid transparent;*/
/*    !*background: url(search.png) no-repeat left 9px center transparent;*!*/
/*    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik01MDMuODY2LDQ3Ny45NzRMMzYwLjk1OCwzMzUuMDUyYzI4LjcyNS0zNC41NDQsNDYuMDE3LTc4LjkxMiw0Ni4wMTctMTI3LjMzNiAgYzAtMTEwLjA4NC04OS4yMjctMTk5LjMxMi0xOTkuMzEyLTE5OS4zMTJDOTcuNTk5LDguNDAzLDguMzUxLDk3LjYzMSw4LjM1MSwyMDcuNzE1YzAsMTEwLjA2NCw4OS4yNDgsMTk5LjMxMiwxOTkuMzEyLDE5OS4zMTIgIGM0OC40MzUsMCw5Mi43OTItMTcuMjkyLDEyNy4zMzYtNDYuMDE3bDE0Mi45MDgsMTQyLjkyMkw1MDMuODY2LDQ3Ny45NzR6IE0yOS4zMzEsMjA3LjcxNWMwLTk4LjMzNCw3OS45ODctMTc4LjMzMiwxNzguMzMyLTE3OC4zMzIgIGM5OC4zMjUsMCwxNzguMzMyLDc5Ljk5OCwxNzguMzMyLDE3OC4zMzJzLTgwLjAwNywxNzguMzMyLTE3OC4zMzIsMTc4LjMzMkMxMDkuMzE4LDM4Ni4wNDcsMjkuMzMxLDMwNi4wNSwyOS4zMzEsMjA3LjcxNXoiIGZpbGw9IiMzNzQwNEQiLz48L3N2Zz4=) no-repeat left 9px center transparent;*/
/*    background-size: 24px;*/
/*}*/

/*input.search-text:focus {*/
/*    z-index: 3;*/
/*    width: 270px;*/
/*    border: 1px solid #666;*/
/*    background-color: white;*/
/*    outline: none;*/
/*    cursor: auto;*/
/*    padding-right: 10px;*/
/*}*/

/*input.search-submit {*/
/*    position: relative;*/
/*    z-index: 4;*/
/*    top: 0px;*/
/*    left: 49px;*/
/*    width: 45px;*/
/*    height: 45px;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    outline: 0;*/
/*    border-radius: 30px;*/
/*    cursor: pointer;*/
/*    background: none;*/
/*}*/

/*input.search-text::-webkit-search-cancel-button {*/
/*    cursor: pointer;*/
/*}*/
.search-input {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  background-position: center;
  transition: background 0.8s;
  background-color: #ffffff;
  color: black;
  width: 49%;
  border-radius: 15px;
}

.search-select {
  display: inline-block;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.6rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  background-position: center;
  transition: background 0.8s;
  width: 100%;
  border-radius: 15px;
}

.background-search {
  background-color: whitesmoke;
  border: black 1px;
}

/*search*/


/*table*/
table {
  width: 100%;
  table-layout: fixed;
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: black;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  color: black;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

tr:hover {
  background-color: #84c0ec;
}

th {
  background-color: whitesmoke;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
/*.crossbar {*/
/*    background: -webkit-linear-gradient(left, #25c481, #25b7c4);*/
/*    background: linear-gradient(to right, #25c481, #25b7c4);*/
/*    font-family: 'Roboto', sans-serif;*/
/*}*/

/*section {*/
/*    margin: 50px;*/
/*}*/


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/*table*/
