<div class="d-flex justify-content-center">
  <section class="make-color container">
    <!--for demo wrap-->
    <h1 class="my-5">Thông tin nhân viên</h1>

    <div class="mb-3 row">
      <div class="row col-6 justify-content-between ml-1">
        <div>
          <input #names [ngModel]="name" (change)="search(names.value)" style="width: 250px"

                 class="header-search search-input" placeholder="Nhập tên  nhân viên ?"

                 type="text"><i (click)="getAll()"
                                class="fa fa-repeat"
                                style="position: relative; right: 26px; top: 3px; font-size: 18px"></i>
        </div>
      </div>
      <div class="col-6">
        <div class="float-right">
          <button class="btn btn-grad-blue" routerLink="/employee/create"><i class="fa fa-plus" aria-hidden="true"></i>
            Thêm mới
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="message">
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0.5">
          <tbody>
          <tr>
            <td class="d-flex justify-content-center font-weight-bold text-uppercase"> Không tìm thấy dữ liệu</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="!message">
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
          <tr>
            <th>STT</th>
            <th>Họ và tên</th>
            <th>Ngày sinh</th>
            <th>Địa chỉ</th>
            <th>Công việc</th>
            <th>Số điện thoại</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
          <tr *ngFor="let e of employees; index as i; let j = index" routerLink=" active"
              (click)="activeProject(j, e.id, e.name)"

              [ngStyle]="{'background-color': activeProjectIndex === j && flag ? '#84c0ec' : 'white'}">

            <td class="desc" data-toggle="tooltip" data-placement="top">{{page * pageSize + (i + 1)}}</td>
            <td class="desc" data-toggle="tooltip" data-placement="top" title="{{e.name}}">{{e.name}}</td>
            <td class="desc" data-toggle="tooltip" data-placement="top">{{e.dateOfBirth | date : 'dd-MM-yyyy'}}</td>
            <td class="desc" data-toggle="tooltip" data-placement="top" title="{{e.address}}">{{e.address}}</td>
            <td class="desc" data-toggle="tooltip" data-placement="top" title="{{e.namePosition}}">{{e.namePosition}}</td>
            <td class="desc" data-toggle="tooltip" data-placement="top">{{e.phoneNumber}}</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="message"></div>

    <div class="row my-3">
      <div class="row col-4 ml-0">
        <button type="button" (click)="clickEdit(errorModalBtn)" class="btn btn-grad-blue">
          <i class="fa fa-paper-plane"></i> Sửa
        </button>
        <button type="button" (click)="clickDelete(deleteButton, errorModalBtn)" class="btn btn-grad-red mx-2" data-toggle="modal"
                data-target="#exampleModaltest">
          <i class="fa fa-trash"></i> Xoá
        </button>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <p class="page-link">{{(page + 1) + '/' + totalPages}}</p>
      </div>

      <!--        Pagination-->
      <div class="col-4">
        <nav class="d-flex justify-content-end wow fadeIn">
          <ul class="pagination">
            <li *ngIf="!firsts" class="page-item">
              <button   class="page-link" (click)="previous()">Trước</button>

            </li>
            <li class="page-item active" aria-current="page">
              <button class="page-link">{{page + 1}}</button>
            </li>

            <li *ngIf="!last" class="page-item">
              <button   class="page-link" (click)="next()">Sau</button>

            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</div>


<!-- Modal Delete -->
<button [hidden]="true" #deleteButton data-toggle="modal" data-target="#exampleModal"></button>
<div id="exampleModal" class="modal fade">

  <div class="modal-dialog modal-confirm modal-confirm-danger">
    <div class="modal-content">
      <div class="modal-header modal-header-danger justify-content-center">
        <div class="icon-box">
          <i class="fa fa-trash"></i>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4>Thông báo</h4>
        <p>Bạn có muốn xóa nhân viên : <span style="color: red">{{nameDelete}}</span> không ?</p>
        <p style="color: red">Lưu ý! Thao tác này không thể hoàn tác</p>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-grad-blue mx-3" #closeModal data-dismiss="modal">Hủy</button>
          <button (click)="delete(closeModal)" type="button" class="btn btn-grad-red">Xóa</button>
        </div>

      </div>
    </div>
  </div>
</div>



<!--modal khi khong click id-->
<button [hidden]="true" #errorModalBtn data-toggle="modal" data-target="#myModal1"></button>
<!--error modal-->
<div id="myModal1" class="modal fade">
  <div class="modal-dialog modal-confirm modal-confirm-danger">
    <div class="modal-content">
      <div class="modal-header modal-header-danger justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4>Thông báo</h4>
        <p>Vui lòng chọn sản phẩm!</p>
        <div class="d-flex justify-content-center">
          <button #closeErrorModal class="btn-modal btn-grad-red" data-dismiss="modal">Thử lại</button>
        </div>

      </div>
    </div>
  </div>
</div>
