<div class="card card-body" style="border: hidden">
  <h3 class="text-center font-weight-bold text-uppercase  py-4">
    Quản Lý Nhân Viên
  </h3>
</div>


<div id="main-container">
  <div class="card card-body">
    <div id="table" class="table-editable">


      <div style="display: flex; justify-content: space-between">
        <div style="display: flex; justify-content: space-between">
          <div>
            <input style="width: 300px" class="header-search search-input background-search"
                   placeholder="Bạn cần tìm gì?"
                   type="text"><i
            class="fa fa-search"
            style="position: absolute; left: 35px;margin-top: 10px ;font-size: 20px"></i>
          </div>
          <div style="margin-left: 20px">
            <button class="btn-search btn-rounded  btn-sm my-0" style="width: 100px">Tìm kiếm</button>
          </div>
        </div>

        <div style="margin-bottom: 10px">
          <button type="button" style="width: 150px; height: 40px" class="btn-edit btn-rounded">Thêm mới</button>
        </div>
      </div>


      <div>
        <div class="tbl-header">
          <table class="table table-bordered table-responsive-md ">
            <thead>
            <tr>
              <th class="text-center">STT</th>
              <th class="text-center">Họ và tên</th>
              <th class="text-center">Ngày sinh</th>
              <th class="text-center">Địa chỉ</th>
              <th class="text-center">Công việc</th>
              <th class="text-center">Số điện thoại</th>
            </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content   ">
          <table class=" table table-bordered table-responsive-md">
            <tbody>
            <tr *ngFor="let e of employees; index as i">
              <td class="text-center">{{i+1}}</td>
              <td>{{e.employeeName}}</td>
              <td class="text-center">{{e.dateOfBirth}}</td>
              <td>{{e.address}}</td>
              <td>{{e.image}}</td>
              <td class="text-center">{{e.phoneNumber}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <br>

        <div style="display: flex; justify-content: space-between">
          <div>
            <button type="button" class=" btn-edit btn-rounded" style="width: 120px">Cập nhật</button>
            <button type="button" class="btn-delete btn-rounded" style="width: 70px" data-toggle="modal"
                    data-target="#staticBackdrop">Xóa
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
