<!--
Create by chienLV
Time: 16h00 03/06/2022
Function: get list product bestseller from database
-->


<!--Slider-->
<section class="slider">
  <div class="container">
    <div class="slider-content">
      <div class="slider-content-left">
        <div class="slider-content-left-top-container">
          <div class="slider-content-left-top">
            <a href="#"> <img src="assets/img/slider1.png" alt=""/></a>
            <a href="#"> <img src="assets/img/slider2.png" alt=""/></a>
            <a href="#"> <img src="assets/img/slider3.png" alt=""/></a>
          </div>
          <div class="slider-content-left-top-btn">
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
        <div class="slider-content-left-bottom">
          <li class="active">VIVO T1X - Mở bán giá sốc</li>
          <li>MACBOOK AIR M11 - Giá siêu ngon</li>
          <li>GALAXY ZFLIP3 - Flex your way</li>
        </div>
      </div>
      <div class="slider-content-right">
        <li><a href="#"><img src="assets/img/img1.png" alt=""></a></li>
        <li><a href="#"><img src="assets/img/img2.png" alt=""></a></li>
      </div>
    </div>
  </div>
</section>
<!--Category-->
<section class="category">
  <div class="container">
    <div class="category-items">
      <div class="category-item" *ngFor="let category of categorires">
        <div class="category-item-picture">
          <img src="{{category.image}}" alt="">
        </div>
        <p class="category-item-title">{{category.name}}</p>
      </div>
    </div>
  </div>
</section>
<!--Banner-->
<section class="banner-one">
  <div class="container">
    <img src="assets/img/banner3.jpg" alt="">
  </div>
</section>
<!--Slider Product-->
<section class="slider-product-one">
  <div class="container">
    <div class="slider-product-one-content">
      <div class="slider-product-one-content-title">
        <h2>Điện thoại nổi bật nhất</h2>
      </div>
      <div class="slider-product-one-content-container">
        <div class="slider-product-one-content-items-content">
          <div class="slider-product-one-content-items">
            <h3 class="error-messsage" *ngIf="flagProductNewest">Điện thoại nổi bật nhất chưa được cập nhật!</h3>
            <div class="slider-product-one-content-item"
                 *ngFor="let productNewest of topfiveproductNewests; index as i">
              <img src="{{productNewest.image}}" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Siêu hot</p></li>
                <li>{{productNewest.name}}</li>
                <li>{{productNewest.price - productNewest.price * productNewest.discount / 100 | currency: "VND"}}</li>
                <li><a>{{productNewest.price | currency: "VND"}}</a><span> -{{productNewest.discount}}%</span></li>
                <li>{{productNewest.promotions}}</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  {{productNewest.fiveStarRating}} đánh giá
                </li>
              </div>
            </div>
          </div>
          <div class="slider-product-one-content-items">
            <div class="slider-product-one-content-item"
                 *ngFor="let productNewest of toptenproductNewests; index as i">
              <img src="{{productNewest.image}}" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Siêu hot</p></li>
                <li>{{productNewest.name}}</li>
                <li>{{productNewest.price - productNewest.price * productNewest.discount / 100 | currency: "VND"}}</li>
                <li><a>{{productNewest.price | currency: "VND"}}</a><span> -{{productNewest.discount}}%</span></li>
                <li>{{productNewest.promotions}}</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  {{productNewest.fiveStarRating}} đánh giá
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Category-->
<section class="category">
  <div class="container">
    <div class="category-items">
      <h3 *ngIf="flagCategory">Danh mục sản phẩm chưa cập nhật!</h3>

      <div (click)="findProductBestsellerByCategory(category)" class="category-item"
           *ngFor="let category of categorires">
        <div class="category-item-picture">
          <a href="#list-product-bestseller">
            <img src="{{category.image}}">
          </a>
        </div>
        <p class="category-item-title">{{category.name}}</p>
      </div>
    </div>
  </div>
</section>
<!--Banner-->
<section class="banner-one">
  <div class="container">
    <img src="assets/img/banner3.jpg" alt="">
  </div>
</section>
<!--Slider Product-->
<section class="slider-product-one">
  <div class="container">
    <div class="slider-product-one-content">
      <div class="slider-product-one-content-title">
        <h2>Điện thoại nổi bật nhất</h2>
      </div>
      <div class="slider-product-one-content-container">
        <div class="slider-product-one-content-items-content">
          <div class="slider-product-one-content-items">
            <h3 class="error-messsage" *ngIf="flagProductNewest">Điện thoại nổi bật nhất chưa được cập nhật!</h3>
            <div class="slider-product-one-content-item"
                 *ngFor="let productNewest of topfiveproductNewests; index as i">
              <img src="{{productNewest.image}}" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Siêu hot</p></li>
                <li>{{productNewest.name}}</li>
                <li>{{productNewest.price - productNewest.price * productNewest.discount / 100 | currency: "VND"}}</li>
                <li><a>{{productNewest.price | currency: "VND"}}</a><span> -{{productNewest.discount}}%</span></li>
                <li>{{productNewest.promotions}}</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  {{productNewest.fiveStarRating}} đánh giá
                </li>
              </div>
            </div>
          </div>
          <div class="slider-product-one-content-items">
            <div class="slider-product-one-content-item"
                 *ngFor="let productNewest of toptenproductNewests; index as i">
              <img src="{{productNewest.image}}" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Siêu hot</p></li>
                <li>{{productNewest.name}}</li>
                <li>{{productNewest.price - productNewest.price * productNewest.discount / 100 | currency: "VND"}}</li>
                <li><a>{{productNewest.price | currency: "VND"}}</a><span> -{{productNewest.discount}}%</span></li>
                <li>{{productNewest.promotions}}</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  {{productNewest.fiveStarRating}} đánh giá
                </li>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-product-one-content-btn">
          <i class="fas fa-chevron-left fa-chevron-left-two"></i>
          <i class="fas fa-chevron-right fa-chevron-right-two"></i>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Product Gallery-->
<section class="product-gallery-one">
  <div class="container">
    <div class="product-gallery-one-content">
      <div class="product-gallery-one-content-title">
        <h2>ĐIỆN THOẠI BÁN CHẠY</h2>
        <ul>
          <li *ngFor="let category of topFiveCategories; index as i">
            <a *ngIf="i < 5" href="#">{{category.name}}</a>
          </li>
          <li><a href="#">Xem tất cả</a></li>
        </ul>
      </div>
      <div class="product-gallery-one-content-product">
        <h3 *ngIf="flagProductBestseller">Điện thoại bán chạy chưa được cập nhật!</h3>
        <div class="product-gallery-one-content-product-item" *ngFor="let productBestseller of productBestsellers">
          <img src="{{productBestseller.image}}" alt="">
          <div class="product-gallery-one-content-product-item-text">
            <li><img src="assets/img/icon-fire.png" alt="">
              <p>Bán siêu chạy</p></li>
            <li>{{productBestseller.name}}</li>
            <li>{{productBestseller.price - productBestseller.price * productBestseller.discount / 100 | currency: "VND"}}</li>
            <li><a>{{productBestseller.price | currency: "VND"}}</a><span> -{{productBestseller.discount}}%</span></li>
            <li>{{productBestseller.promotions}}</li>
            <li>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              {{productBestseller.fiveStarRating}} đánh giá
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Product Gallery-->
<section class="product-gallery-one">
  <div class="container">
    <div class="product-gallery-one-content">
      <div class="product-gallery-one-content-title">
        <h2>ĐIỆN THOẠI BÁN CHẠY</h2>
        <ul>
          <li *ngFor="let category of topFiveCategories; index as i">
            <a (click)="findProductBestsellerByCategory(category)">{{category.name}}</a>

          </li>
          <li><a (click)="getAllProductBestSeller()">Xem tất cả</a></li>
          <li *ngIf="flagCategory">Danh mục sản phẩm chưa cập nhật!</li>
        </ul>
      </div>
      <div class="product-gallery-one-content-product" id="list-product-bestseller">
        <h3 *ngIf="flagProductBestseller">Điện thoại bán chạy chưa được cập nhật!</h3>
        <h3 *ngIf="flagProductBestsellerByCategory">Không tìm thấy sản phẩm nào!</h3>
        <div class="product-gallery-one-content-product-item" *ngFor="let productBestseller of productBestsellers">
          <img src="{{productBestseller.image}}" alt="">
          <div class="product-gallery-one-content-product-item-text">
            <li><img src="assets/img/icon-fire.png" alt="">
              <p>Bán siêu chạy</p></li>
            <li>{{productBestseller.name}}</li>
            <li>{{productBestseller.price - productBestseller.price * productBestseller.discount / 100 | currency: "VND"}}</li>
            <li><a>{{productBestseller.price | currency: "VND"}}</a><span> -{{productBestseller.discount}}%</span></li>
            <li>{{productBestseller.promotions}}</li>
            <li>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              {{productBestseller.fiveStarRating}} đánh giá
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
