.card-body {
  flex: 1 1 auto;
  padding: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: none;
  position: relative;
}
body {
  padding: 0 1rem;
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
}
input {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.btn-rounded {
  border-radius: 0px;
}
.btn-create {
  border: none;
  background-position: center;
  transition: background 0.8s;
  background-color: #277CEA;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px, rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  width: 100%;
  color: white;
  /*margin: 10px;*/
}
.btn-create:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.btn-create:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
.btn-confirm {
  border: none;
  background-position: center;
  transition: background 0.8s;
  background-color: #277CEA;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px, rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  width: 50%;
  color: white;
  /*margin: 10px;*/
}
.btn-confirm:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.btn-confirm:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
.btn-cancel {
  border: none;
  background-position: center;
  transition: background 0.8s;
  background-color: #D70018;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px, rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  width: 50%;
  color: white;
  /*margin: 10px;*/
}
.btn-cancel:hover {
  background: #fa4665 radial-gradient(circle, transparent 1%, #fa4665 1%) center/15000%;
}
.btn-cancel:active {
  background-color: #D70018;;
  background-size: 100%;
  transition: background 0s;
}
label {
  margin-top: 15px;
}
.input-icons i {
  position: absolute;
  cursor: pointer;
  right: 0;
}
.input-icons {
  width: 100%;
  margin-bottom: 10px;
}
.icon {
  padding: 10px;
  color: red;
  min-width: 50px;
  text-align: center;
}
.input-field {
  width: 100%;
  padding: 10px;
  /*text-align: center;*/
}
.container {
  max-width: 1500px;
  margin: auto;
}
.image {
  width: 50%;
}
/*MODAL*/
.modal-confirm {
  color: #636363;
  width: 400px;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}
.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}
.modal-confirm .modal-body {
  color: #999;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
  color: #999;
}
.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
}
.modal-confirm .btn-secondary {
  background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
  background: #a8a8a8;
}
.modal-confirm .btn-danger {
  background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
  background: #ee3535;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
/*button*/
button{
  /*width: 30%;*/
  /*!*height: 38px;*!*/
}
.btn-grad-red {
  background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}
.btn-grad-red:active {
  transform: scale(1.1);
}
.btn-grad-red:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.btn-grad-blue {
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}
.btn-grad-blue:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.btn-grad-blue:active {
  transform: scale(1.1);
}
.btn-w50 {
  width: 50%;
}
/*MODAL*/
.modal-confirm {
  color: #434e65;
  width: 525px;
}
.modal-confirm .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
.modal-confirm-danger .modal-header-danger {
  background: #EB3349;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}
.modal-confirm-success .modal-header-success {
  background: #1FA2FF;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirm .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}
.modal-confirm .close:hover {
  opacity: 0.8;
}
.modal-confirm .icon-box {
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  text-align: center;
}
.modal-confirm .icon-box i {
  font-size: 58px;
  margin: -2px 0 0 -2px;
}
.modal-confirm.modal-dialog {
  margin-top: 80px;
}
.modal-confirm .btn-modal, .modal-confirm .btn-modal:active {
  text-decoration: none;
  border-radius: 3px;
  margin-top: 10px;
  padding: 6px 20px;
  min-width: 150px;
  border: none;
}

.desc {
  white-space: nowrap;
  max-width: 30rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
