<form>
  <div class="container">
    <div class="row" style="justify-content: center;display: flex">
      <div class="col-md-8">
        <div class="card ">
          <div class="card card-body">
            <h3 class="text-center font-weight-bold text-uppercase py-4">
              NHẬP KHO HÀNG HÓA
            </h3>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <button (click)="checkOnchanges()" type="button" class="btn-create btn-rounded btn-lg" data-toggle="modal"
                        data-target="#productModal"><i class="fa-solid fa-box"></i> Chọn hàng hóa đã từng nhập
                  kho <span class="text-danger">(*):</span>
                </button>
                <div
                  *ngIf="productDto.errors?.existed">
                  <span *ngIf="productDto.errors?.existed" style="color: red">{{productDto.errors?.message}}</span>
                </div>
              </div>

              <div class="form-group col-sm-6">
                <button type="button" class="btn-create btn-rounded btn-lg" data-toggle="modal" data-target="#exampleModal"><i
                  class="fa-solid fa-qrcode"></i> Quét mã QR
                </button>
              </div>
            </div>
            <form [formGroup]="createForm">
              <!--              Product-->
              <input formControlName="productDto" type="text" [(ngModel)]="productData.id" hidden>

              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="product">Tên hàng hóa <span class="text-danger">(*):</span></label>
                  <div *ngIf="productData.name == undefined">
                    <input type="email" class="form-control"
                           id="product" placeholder="Tên hàng hóa" disabled>
                  </div>
                  <div *ngIf="productData.name">
                    <input type="email" class="form-control" [value]="productData.name"
                           id="product" placeholder="Tên hàng hóa" disabled>
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label for="price">Giá <span class="text-danger">(*):</span></label>
                  <div *ngIf="productData.price == undefined">
                    <input type="text" class="form-control"
                           id="price" placeholder="Giá" disabled>
                  </div>
                  <div *ngIf="productData.price">
                    <input type="text" class="form-control" [value]="productData.price"
                           id="price" placeholder="Giá" disabled>
                  </div>

                </div>
              </div>

              <div class="form-group">
                <label for="image">Hình ảnh <span class="text-danger">(*):</span></label>
                <div style="display: flex; justify-content: center">
                  <img src="{{image}}" id="image" class="image">
                </div>
              </div>

              <!--              Supplier-->
              <input formControlName="supplierDto" hidden [ngModel]="supplierData.id">
              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="supplier">Nhà cung cấp <span class="text-danger">(*):</span></label>
                  <div class="input-icons">
                    <i type="button" class="fa-solid fa-folder-plus icon" data-toggle="modal"
                       data-target="#supplierModal"></i>
                    <div *ngIf="supplierData.supplierName == undefined">
                      <input type="text" class="form-control input-field"
                             id="supplier" placeholder="Chọn nhà cung cấp" disabled>
                    </div>
                    <div *ngIf="supplierData.supplierName">
                      <input type="text" class="form-control input-field"
                             [value]="supplierData.supplierName +' - '+ supplierData.address"
                             id="supplier" placeholder="Chọn nhà cung cấp" disabled>
                    </div>
                    <div
                      *ngIf="supplierDto.errors?.existed">
                      <span *ngIf="supplierDto.errors?.existed" style="color: red">{{supplierDto.errors?.message}}</span>
                    </div>

                  </div>
                </div>

                <!--                Quantity-->
                <div class="form-group col-sm-6">
                  <label for="quantity"> Số lượng nhập <span class="text-danger">(*):</span></label>
                  <input type="number" class="form-control"
                         id="quantity" placeholder="Số lượng nhập" formControlName="quantity">

<!--                  <div-->
<!--                    *ngIf="quantity.invalid && (quantity.dirty || quantity.touched) || quantity.errors?.empty">-->
<!--                    <span *ngIf="quantity.errors?.gte"-->
<!--                          style="color: red">{{quantity.errors?.requiredValue}}</span>-->
<!--                    <span *ngIf="quantity.errors.required || quantity.errors.empty" style="color: red">Empty! Input please!</span>-->
<!--                  </div>-->
                  <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched) || quantity.errors?.empty">
                    <span *ngIf="quantity.errors?.gteQuantityStorage"
                          style="color: red">{{quantity.errors?.requiredValue}}</span><br>
                    <span *ngIf="quantity.errors?.empty || quantity.errors.required" style="color: red">Hãy nhập số lượng của sản phẩm</span>
                  </div>
                </div>
              </div>

              <!--              Status-->
              <div class="form-group col-sm-6">
                <label for="status"> Trạng thái <span class="text-danger">(*):</span></label>
                <input type="radio" class="" id="status" formControlName="status" [value]="true"> Nhập hàng
                <input type="radio" class="" id="status" formControlName="status" [value]="false"> Xuất hàng
              </div>

              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="import"> Ngày nhập kho <span class="text-danger">(*):</span></label>
                  <input type="date" class="form-control" id="import" formControlName="createdDate">
                </div>
                <div class="form-group col-sm-6">
                  <label for="employee"> Người nhập kho <span class="text-danger">(*):</span></label>
                  <input type="text" class="form-control input-field"
                         id="employee" value="Nguyễn Văn A" disabled>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-6 d-flex justify-content-end">
                  <button type="button" class="btn-confirm btn-rounded btn-lg" (click)="importProduct()"><i
                    class="fa-solid fa-boxes-packing"></i>
                    Thêm vào kho
                  </button>
                </div>
                <div class="form-group col-sm-6 d-flex justify-content-start">
                  <button type="button" class="btn-cancel btn-rounded btn-lg"><i
                    class="fa-solid fa-right-from-bracket"></i> Hủy
                  </button>
                </div>
              </div>
              <!--                                </div>-->
              <!--                            </div>-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<app-list-supplier-modal (itemOutput)="receiveSupplier($event)"
                         (flagCreate)="receiveSupplierFlag($event)"></app-list-supplier-modal>
<app-qr-code (sendProduct)="receiveProduct($event)"></app-qr-code>
<app-list-choose-product-modal (itemOutput)="receiveProduct($event)"></app-list-choose-product-modal>


<!-- Modal Sucess -->
<div id="myModal1" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="card-img">
          <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/5775/5775185.png">
        </div>
        <h4 class="modal-title w-100">Success!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>Yay! Bạn đã thêm sản phẩm vào kho thành công! <br></p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-grad-blue" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<button #btnSuccess type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1" [hidden]="true">
</button>

<!-- Modal Delete -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="card-img">
          <img class="img-fluid" src="https://icon-library.com/images/funny-icon/funny-icon-3.jpg">
        </div>
        <h4 class="modal-title w-100">Are you sure?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete these records? This process cannot be undone.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<button #btnFailed type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" [hidden]="true">
</button>






<!--<form>-->
<!--  <div class="container">-->
<!--    <div class="row" style="justify-content: center;display: flex">-->
<!--      <div class="col-md-8">-->
<!--        <div class="card ">-->
<!--          <div class="card card-body">-->
<!--            <h3 class="text-center font-weight-bold text-uppercase py-4">-->
<!--              NHẬP KHO HÀNG HÓA-->
<!--            </h3>-->
<!--            <div class="form-row">-->
<!--              <div class="form-group col-sm-6">-->
<!--                <button type="button" class="btn-create btn-rounded btn-lg" data-toggle="modal"-->
<!--                        data-target="#productModal"><i class="fa-solid fa-box"></i> Chọn hàng hóa đã từng nhập-->
<!--                  kho-->
<!--                </button>-->
<!--                <div-->
<!--                  *ngIf="product.errors?.existed">-->
<!--                  <span *ngIf="product.errors.existed" style="color: red">{{product.errors.existed}}</span>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="form-group col-sm-6">-->
<!--                <button type="button" class="btn-create btn-rounded btn-lg" data-toggle="modal" data-target="#exampleModal"><i-->
<!--                  class="fa-solid fa-qrcode"></i> Quét mã QR-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--            <form [formGroup]="createForm">-->
<!--&lt;!&ndash;              Product&ndash;&gt;-->
<!--              <input formControlName="product" type="text" [(ngModel)]="productData.id" hidden>-->

<!--              <div class="form-row">-->
<!--                <div class="form-group col-sm-6">-->
<!--                  <label for="product">Tên hàng hóa <span class="text-danger">(*):</span></label>-->
<!--                  <div *ngIf="productData.name == undefined">-->
<!--                    <input type="email" class="form-control"-->
<!--                           id="product" placeholder="Tên hàng hóa" disabled>-->
<!--                  </div>-->
<!--                  <div *ngIf="productData.name">-->
<!--                    <input type="email" class="form-control" [value]="productData.name"-->
<!--                           id="product" placeholder="Tên hàng hóa" disabled>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="form-group col-sm-6">-->
<!--                  <label for="price">Giá <span class="text-danger">(*):</span></label>-->
<!--                  <div *ngIf="productData.price == undefined">-->
<!--                    <input type="text" class="form-control"-->
<!--                           id="price" placeholder="Giá" disabled>-->
<!--                  </div>-->
<!--                  <div *ngIf="productData.price">-->
<!--                    <input type="text" class="form-control" [value]="productData.price"-->
<!--                           id="price" placeholder="Giá" disabled>-->
<!--                  </div>-->

<!--                </div>-->
<!--              </div>-->

<!--              <div class="form-group">-->
<!--                <label for="image">Hình ảnh <span class="text-danger">(*):</span></label>-->
<!--                <div style="display: flex; justify-content: center">-->
<!--                  <img src="assets/img/icon1.jpg" id="image" class="image">-->
<!--                  &lt;!&ndash;                       onerror="this.src='imgs/no-img.jpg'"&ndash;&gt;-->

<!--                  &lt;!&ndash;                    https://cdn.tgdd.vn/Products/Images/42/235838/Galaxy-S22-Ultra-Burgundy-600x600.jpg&ndash;&gt;-->
<!--                </div>-->

<!--              </div>-->

<!--&lt;!&ndash;              Supplier&ndash;&gt;-->
<!--              <input formControlName="supplier" hidden [ngModel]="supplierData.id">-->
<!--              <div class="form-row">-->
<!--                <div class="form-group col-sm-6">-->
<!--                  <label for="supplier">Nhà cung cấp <span class="text-danger">(*):</span></label>-->
<!--                  <div class="input-icons">-->
<!--                    <i type="button" class="fa-solid fa-folder-plus icon" data-toggle="modal"-->
<!--                       data-target="#supplierModal"></i>-->
<!--                    <div *ngIf="supplierData.supplierName == undefined">-->
<!--                      <input type="text" class="form-control input-field"-->
<!--                             id="supplier" placeholder="Chọn nhà cung cấp" disabled>-->
<!--                    </div>-->
<!--                    <div *ngIf="supplierData.supplierName">-->
<!--                      <input type="text" class="form-control input-field"-->
<!--                             [value]="supplierData.supplierName +' - '+ supplierData.address"-->
<!--                             id="supplier" placeholder="Chọn nhà cung cấp" disabled>-->
<!--                    </div>-->
<!--                    <div-->
<!--                      *ngIf="supplier.errors?.existed">-->
<!--                      <span *ngIf="supplier.errors.existed" style="color: red">{{supplier.errors.existed}}</span>-->
<!--                    </div>-->

<!--                  </div>-->
<!--                </div>-->

<!--&lt;!&ndash;                Quantity&ndash;&gt;-->
<!--                <div class="form-group col-sm-6">-->
<!--                  <label for="quantity"> Số lượng nhập <span class="text-danger">(*):</span></label>-->
<!--                  <input type="number" class="form-control"-->
<!--                         id="quantity" placeholder="Số lượng nhập" formControlName="quantity">-->
<!--                </div>-->
<!--              </div>-->

<!--&lt;!&ndash;              Status&ndash;&gt;-->
<!--              <div class="form-group col-sm-6">-->
<!--                <label for="status"> Trạng thái <span class="text-danger">(*):</span></label>-->
<!--                <input type="radio" class="" id="status" formControlName="status" [value]="true"> Nhập hàng-->
<!--                <input type="radio" class="" id="status" formControlName="status" [value]="false"> Xuất hàng-->
<!--              </div>-->

<!--              <div class="form-row">-->
<!--                <div class="form-group col-sm-6">-->
<!--                  <label for="import"> Ngày nhập kho <span class="text-danger">(*):</span></label>-->
<!--                  <input type="date" class="form-control" id="import" value="2022-05-05" formControlName="createdDate">-->
<!--                </div>-->
<!--                <div class="form-group col-sm-6">-->
<!--                  <label for="employee"> Người nhập kho <span class="text-danger">(*):</span></label>-->
<!--                  <input type="text" class="form-control input-field"-->
<!--                         id="employee" value="Nguyễn Văn A" disabled>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-row">-->
<!--                <div class="form-group col-sm-6 d-flex justify-content-end">-->
<!--                  <button type="button" class="btn-confirm btn-rounded btn-lg" (click)="importProduct()"><i-->
<!--                    class="fa-solid fa-boxes-packing"></i>-->
<!--                    Thêm vào kho-->
<!--                  </button>-->
<!--                </div>-->
<!--                <div class="form-group col-sm-6 d-flex justify-content-start">-->
<!--                  <button type="button" class="btn-cancel btn-rounded btn-lg"><i-->
<!--                    class="fa-solid fa-right-from-bracket"></i> Hủy-->
<!--                  </button>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--              &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->

<!--<app-list-supplier-modal (itemOutput)="receiveSupplier($event)"-->
<!--                         (flagCreate)="receiveSupplierFlag($event)"></app-list-supplier-modal>-->
<!--<app-qr-code (sendProduct)="receiveProduct($event)"></app-qr-code>-->
<!--&lt;!&ndash;<app-list-product-modal (itemOutput)="receiveProduct($event)"&ndash;&gt;-->
<!--&lt;!&ndash;                        (flagCreate)="receiveProductFlag($event)"></app-list-product-modal>&ndash;&gt;-->
<!--<app-list-choose-product-modal (itemOutput)="receiveProduct($event)"></app-list-choose-product-modal>-->
