<form>
  <div class="container">
    <div class="row" style="justify-content: center;display: flex">
      <div class="col-md-8">
        <div class="card ">
          <div class="card card-body">
            <h3 class="text-center font-weight-bold text-uppercase py-4">
              NHẬP KHO HÀNG HÓA
            </h3>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <button type="button" class="btn-create btn-rounded btn-lg" data-toggle="modal"
                        data-target="#listProducts"><i class="fa-solid fa-box"></i> Chọn hàng hóa đã từng nhập
                  kho
                </button>
                <div
                  *ngIf="product.errors?.existed">
                  <span *ngIf="product.errors.existed" style="color: red">{{product.errors.existed}}</span>
                </div>
              </div>

              <div class="form-group col-sm-6">
                <button type="button" class="btn-create btn-rounded btn-lg" data-toggle="modal" data-target="#qrCode"><i
                  class="fa-solid fa-qrcode"></i> Quét mã QR
                </button>
              </div>
            </div>
            <form [formGroup]="createForm">
<!--              Product-->
              <input formControlName="product" type="text" [(ngModel)]="productData.id" hidden>

              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="product">Tên hàng hóa <span class="text-danger">(*):</span></label>
                  <div *ngIf="productData.name == undefined">
                    <input type="email" class="form-control"
                           id="product" placeholder="Tên hàng hóa" disabled>
                  </div>
                  <div *ngIf="productData.name">
                    <input type="email" class="form-control" [value]="productData.name"
                           id="product" placeholder="Tên hàng hóa" disabled>
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label for="price">Giá <span class="text-danger">(*):</span></label>
                  <div *ngIf="productData.price == undefined">
                    <input type="text" class="form-control"
                           id="price" placeholder="Giá" disabled>
                  </div>
                  <div *ngIf="productData.price">
                    <input type="text" class="form-control" [value]="productData.price"
                           id="price" placeholder="Giá" disabled>
                  </div>

                </div>
              </div>

              <div class="form-group">
                <label for="image">Hình ảnh <span class="text-danger">(*):</span></label>
                <div style="display: flex; justify-content: center">
                  <img src="assets/img/icon1.jpg" id="image" class="image">
                  <!--                       onerror="this.src='imgs/no-img.jpg'"-->

                  <!--                    https://cdn.tgdd.vn/Products/Images/42/235838/Galaxy-S22-Ultra-Burgundy-600x600.jpg-->
                </div>

              </div>

<!--              Supplier-->
              <input formControlName="supplier" hidden [ngModel]="supplierData.id">
              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="supplier">Nhà cung cấp <span class="text-danger">(*):</span></label>
                  <div class="input-icons">
                    <i type="button" class="fa-solid fa-folder-plus icon" data-toggle="modal"
                       data-target="#supplierModal"></i>
                    <div *ngIf="supplierData.supplierName == undefined">
                      <input type="text" class="form-control input-field"
                             id="supplier" placeholder="Chọn nhà cung cấp" disabled>
                    </div>
                    <div *ngIf="supplierData.supplierName">
                      <input type="text" class="form-control input-field"
                             [value]="supplierData.supplierName +' - '+ supplierData.address"
                             id="supplier" placeholder="Chọn nhà cung cấp" disabled>
                    </div>
                    <div
                      *ngIf="supplier.errors?.existed">
                      <span *ngIf="supplier.errors.existed" style="color: red">{{supplier.errors.existed}}</span>
                    </div>

                  </div>
                </div>

<!--                Quantity-->
                <div class="form-group col-sm-6">
                  <label for="quantity"> Số lượng nhập <span class="text-danger">(*):</span></label>
                  <input type="number" class="form-control"
                         id="quantity" placeholder="Số lượng nhập" formControlName="quantity">
                </div>
              </div>

<!--              Status-->
              <div class="form-group col-sm-6">
                <label for="status"> Trạng thái <span class="text-danger">(*):</span></label>
                <input type="radio" class="" id="status" formControlName="status" [value]="true"> Nhập hàng
                <input type="radio" class="" id="status" formControlName="status" [value]="false"> Xuất hàng
              </div>

              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="import"> Ngày nhập kho <span class="text-danger">(*):</span></label>
                  <input type="date" class="form-control" id="import" value="2022-05-05" formControlName="createdDate">
                </div>
                <div class="form-group col-sm-6">
                  <label for="employee"> Người nhập kho <span class="text-danger">(*):</span></label>
                  <input type="text" class="form-control input-field"
                         id="employee" value="Nguyễn Văn A" disabled>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-6 d-flex justify-content-end">
                  <button type="button" class="btn-confirm btn-rounded btn-lg" (click)="importProduct()"><i
                    class="fa-solid fa-boxes-packing"></i>
                    Thêm vào kho
                  </button>
                </div>
                <div class="form-group col-sm-6 d-flex justify-content-start">
                  <button type="button" class="btn-cancel btn-rounded btn-lg"><i
                    class="fa-solid fa-right-from-bracket"></i> Hủy
                  </button>
                </div>
              </div>
              <!--                                </div>-->
              <!--                            </div>-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<app-list-supplier-modal (itemOutput)="receiveSupplier($event)"
                         (flagCreate)="receiveSupplierFlag($event)"></app-list-supplier-modal>
<app-qr-code></app-qr-code>
<app-list-product-modal (itemOutput)="receiveProduct($event)"
                        (flagCreate)="receiveProductFlag($event)"></app-list-product-modal>
