
<!-- Button trigger modal-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Quét mã QR
</button>

<!-- Modal -->
<div #basicModal class="modal fade" id="exampleModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">QUÉT MÃ QR</h5>
        <button (click)="resetValueInputs()" id="btnCloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row justify-content-center">
            <div class="col-6">
              <p class="{{alertClass}}">{{message}}</p>
              <label for="select"><strong>Chọn Chức năng :</strong></label>
              <select [(ngModel)]="typeQRScan" id="select" class="form-control mb-2">
                <option value="1">Quét mã</option>
                <option value="2">Kiểm tra mã</option>
              </select>
              <div class="row justify-content-center">
                <div class="col-6">
                  <div class="row d-flex justify-content-center">
                    <div class="file">
                      <label for="img1">Hình Ảnh <span class="text-danger">(*):</span></label>
                      <input #imageInput1 (change)="readFile1($event.target)" accept="image/png"  name="img" id="img1" type="file" class="file__input">
                      <label for="img1" class="file__label">
                        <i class="fa fa-upload"></i>
                      </label>
                    </div>
                    <img width="120px" height="120px" src="{{image1}}">
                  </div>
                </div>

                <div class="col-6" [hidden]="typeQRScan=='1'">
                  <div class="row d-flex justify-content-center">
                    <div class="file">
                      <label for="img">Hình Ảnh <span class="text-danger">(*):</span></label>
                      <input #imageInput2 (change)="readFile2($event.target)" accept="image/png" name="img" id="img" type="file" class="file__input">
                      <label for="img" class="file__label">
                        <i class="fa fa-upload"></i>
                      </label>
                    </div>
                    <img width="120px" height="120px" src="{{image2}}">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button (click)="scanQRCode()" type="button" class="btn btn-danger col-3">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

