<!--form tao moi-->

<form [formGroup]="productForm" (ngSubmit)="save()">
  <div class="container-fluid">
    <div class="row" style="justify-content: center;display: flex">
      <div class="col-md-10">
        <div class="card ">
          <div class="card card-body">
            <h3 class="text-center font-weight-bold text-uppercase py-4">
              CHỈNH SỬA THÔNG TIN HÀNG HÓA
            </h3>
            <div class="row" style="justify-content: center;display: flex">
              <div class="col-md-8 row">
                <input type="hidden" formControlName="id">

                <div class="form-group col-md-6">
                  <label for="productName">Tên Hàng <span class="text-danger">(*):</span></label>
                  <input value="Iphone 13" formControlName="productName" type="text"
                         class="form-control"
                         name="productName" id="productName">
                  <!--                                    <div-->
                  <!--                                            *ngIf="productForm.controls.productName.invalid && (productForm.controls.productName.dirty || productForm.controls.productName.touched|| productForm.controls.category.errors?.empty)">-->

                  <!--                                        <small-->
                  <!--                                                *ngIf="productForm.controls.productName.hasError('required') || productForm.controls.productName.errors.empty"-->
                  <!--                                                class="form-text text-danger">Require not empty.</small>-->
                  <!--                                    </div>-->
                </div>
                <div class="form-group col-md-6">
                  <label for="price">Giá <span class="text-danger">(*):</span></label>
                  <input value="10.000.000" formControlName="price" type="text" class="form-control"
                         name="price"
                         id="price"><span>VND</span>

                  <!--                                    <div-->
                  <!--                                            *ngIf="productForm.controls.price.invalid && (productForm.controls.price.dirty || productForm.controls.price.touched|| productForm.controls.category.errors?.empty)">-->

                  <!--                                        <small-->
                  <!--                                                *ngIf="productForm.controls.price.hasError('required') || productForm.controls.productName.errors.empty"-->
                  <!--                                                class="form-text text-danger">Require not empty.</small>-->
                  <!--                                    </div>-->
                </div>


                <div class=" form-group col-md-12">
                  <label for="productName">Hình Ảnh <span class="text-danger">(*):</span></label>
                  <img style="width: 120px; height: 150px"
                       src="https://ecdn.game4v.com/g4v-content/uploads/2021/09/15122647/game4V-iPhone13-2-1631683607-83.jpg">
                  <input formControlName="img" type="file" name="img" id="img">


                </div>

                <div class="form-group col-md-6">
                  <label for="screenSize">Kích Thước Màn Hình <span
                    class="text-danger">(*):</span></label>
                  <input value="5.6 inch" formControlName="screenSize" type="text"
                         class="form-control" name="screenSize" id="screenSize">

                  <!--    hien thi loi-->
                  <!--                                    <div-->
                  <!--                                            *ngIf="productForm.controls.screenSize.invalid && (productForm.controls.screenSize.dirty || productForm.controls.screenSize.touched || productForm.controls.screenSize.errors?.empty)">-->

                  <!--                                        <small-->
                  <!--                                                *ngIf="productForm.controls.screenSize.hasError('required') || productForm.controls.screenSize.errors.empty"-->
                  <!--                                                class="form-text text-danger">Require not empty.</small>-->
                  <!--                                    </div>-->
                </div>


                <div class="form-group col-md-6">
                  <label for="camera">Camera<span
                    class="text-danger">(*):</span></label>
                  <input value="20MP" formControlName="camera" type="text" class="form-control"
                         name="camera" id="camera">

                  <!--    hien thi loi-->
                  <!--                                    <div-->
                  <!--                                            *ngIf="productForm.controls.camera.invalid && (productForm.controls.camera.dirty || productForm.controls.camera.touched || productForm.controls.camera.errors?.empty)">-->

                  <!--                                        <small-->
                  <!--                                                *ngIf="productForm.controls.camera.hasError('required') || productForm.controls.camera.errors.empty"-->
                  <!--                                                class="form-text text-danger">Require not empty.</small>-->
                  <!--                                    </div>-->
                </div>

                <div class="form-group col-md-6">
                  <label for="selfie">Selfie<span class="text-danger">(*):</span></label>
                  <input value="12MP" formControlName="selfie" type="text" class="form-control"
                         name="selfie" id="selfie">

                  <!--    hien thi loi-->
                  <!--                                    <div-->
                  <!--                                            *ngIf="productForm.controls.selfie.invalid && (productForm.controls.selfie.dirty || productForm.controls.selfie.touched || productForm.controls.selfie.errors?.empty)">-->

                  <!--                                        <small-->
                  <!--                                                *ngIf="productForm.controls.selfie.hasError('required') || productForm.controls.selfie.errors.empty"-->
                  <!--                                                class="form-text text-danger">Require not empty.</small>-->
                  <!--                                    </div>-->
                </div>

                <div class="form-group col-md-6">
                  <label for="memory">Lưu trữ<span class="text-danger">(*):</span></label>
                  <input value="128gb" formControlName="memory" type="text" class="form-control"
                         name="memory" id="memory">

                  <!--    hien thi loi-->
                  <!--                                    <div-->
                  <!--                                            *ngIf="productForm.controls.memory.invalid && (productForm.controls.memory.dirty || productForm.controls.memory.touched || productForm.controls.memory.errors?.empty)">-->
                  <!--                                        &lt;!&ndash;      <small *ngIf="productForm.controls.price.hasError('pattern')" class="form-text text-danger">Wrong format, ex:&ndash;&gt;-->
                  <!--                                        &lt;!&ndash;        KH-0123</small>&ndash;&gt;-->
                  <!--                                        <small-->
                  <!--                                                *ngIf="productForm.controls.memory.hasError('required') || productForm.controls.memory.errors.empty"-->
                  <!--                                                class="form-text text-danger">Require not empty.</small>-->
                  <!--                                    </div>-->
                </div>

                <div class="form-group col-md-12">
                  <label for="cpu">CPU<span class="text-danger">(*)</span> </label>
                  <input value="250MDX" formControlName="cpu" type="text" class="form-control"
                         name="cpu" id="cpu">

                  <!--    hien thi loi-->
                  <!--                                    <div-->
                  <!--                                            *ngIf="productForm.controls.cpu.invalid && (productForm.controls.cpu.dirty || productForm.controls.cpu.touched || productForm.controls.cpu.errors?.empty)">-->

                  <!--                                        <small-->
                  <!--                                                *ngIf="productForm.controls.cpu.hasError('required') || productForm.controls.cpu.errors.empty"-->
                  <!--                                                class="form-text text-danger">Require not empty.</small>-->
                  <!--                                    </div>-->
                </div>

                <div class="form-group col-md-12 ">
                  <label for="otherDescription">Mô tả thêm </label>

                  <textarea id="otherDescription" formControlName="otherDescription"
                            class="form-control">IPhone 13 sở hữu hệ thống camera kép xuất sắc nhất từ trước đến nay,bộ vi xử lý Apple A15 nhanh nhất thế giới smartphone cùng thời lượng pin cực khủng,sẵn sàng đồng hành cùng bạn suốt cả ngày.  </textarea>

                </div>

                <div class=" col-md-12 text-center mx-auto mt-4">
                  <button style="width: 200px;" type="button" class="btn btn-primary "
                          data-toggle="modal"
                          data-target="#editModal"><i class="fa fa-paper-plane"></i>Xác nhận
                  </button>

                  <a type="button" class="btn btn-danger" style="margin-left: 10px; width: 200px"
                     data-toggle="modal"
                     data-target="#cancelEdit"> Hủy</a>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


<!-- Modal -->
<div class="modal fade " id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn chỉnh sửa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Tên hàng: Iphone 13</p>
        <p>Giá: 10.000.000</p>
        <p>Kích thước màn hình: 5.6 inch</p>
        <p>Camera: 20.0 MP</p>
        <p>Selfie: 12.0 MP</p>
        <p>Lưu trữ: 128 GB</p>
        <p>CPU: 250MDX</p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Chỉnh sửa</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade " id="cancelEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn hủy chỉnh sửa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Có</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div>
