<div class="card card-body">
  <h3 class="text-center font-weight-bold  py-4">
    Quản Lý Danh Sách Khách Hàng
  </h3>
</div>

<div class="card card-body">
  <div id="table" class="table-editable">
    <div class="row">
      <div class="col-6">

        <div class="mb-3" style="display: flex; justify-content: space-evenly">
          <div>
            <p style="margin-top: 10px">Tìm kiếm theo: </p>
          </div>
          <div>
            <select name="" id="" class="search-select background-search">
              <option value="">Tên khách hàng</option>
              <option value="">Số điện thoại</option>
              <option value="">Email</option>
            </select>
          </div>

          <div style="position: relative">
            <input style="width: 300px" class="header-search search-input background-search"
                   placeholder="Bạn cần tìm gì?"
                   type="text"><i
            class="fa fa-search"
            style="position: absolute; right: 15px; top: 9px; font-size: 20px"></i>
          </div>
          <div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#test">Tìm Kiếm</button>
          </div>
        </div>
        <!--                search-->

      </div>

    </div>
    <div>
      <div class="tbl-header">
        <table class="table table-bordered table-responsive-md ">
          <thead>
          <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Họ và tên</th>
            <th class="text-center">Số điện thoại</th>
            <th class="text-center">Ngày sinh</th>
            <th class="text-center">Địa chỉ</th>
            <th class="text-center">Email</th>
            <th class="text-center">Giới tính</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content   ">
        <table class=" table table-bordered table-responsive-md">
          <tbody>
          <tr *ngFor="let cus of customerList,let j=index" routerLinkActive="active" (click)="activeProject(j,cus.id)"
              [ngStyle]="{'background-color': activeProjectIndex === j ? '#9ddceb' : 'white' }">
            <td class="text-center">{{cus.id }}</td>
            <td class="text-center">{{cus.customerName}}</td>
            <td class="pt-3-half">{{cus.phoneNumber}}</td>
            <td class="text-center">{{cus.dateOfBirth}}</td>
            <td class="pt-3-half">{{cus.address}}</td>
            <td class="pt-3-half">{{cus.email}}</td>
            <td>
              <span *ngIf="cus.gender==true">Nam</span>
              <span *ngIf="cus.gender==false">Nữ</span>
            </td>

          </tr>

          </tbody>
        </table>
      </div>
      <br>
      <!--Pagination-->
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          <!--Arrow left-->
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page-item active">
            <a class="page-link" href="#">1
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">5</a>
          </li>

          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="text-center mt-5">
        <a routerLink="/customer/edit/{{idClick}}">
        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#test"><i
          class="fa fa-paper-plane"></i>Chỉnh sửa
        </button>
        </a>
        <button type="button" class="btn btn-danger" (click)="testClick()"> Hủy</button>
      </div>
      <!--Pagination-->
    </div>
  </div>
</div>
