/*
Created by tamHT
Time: 13:37 03/06/2022
Method: pageProduct()
*/
<div class="modal fade" id="productModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card card-body">
          <h3 class="text-center font-weight-bold text-uppercase  py-4">
            chon sản phẩm
          </h3>
        </div>
        <div class="card card-body">
          <div class="table-editable">
            <div class="row">
              <div class="col-12">
                <div class="mb-3" style="display: flex; justify-content: space-evenly">
                  <div>
                    <p style="margin-top: 10px">Tìm kiếm theo: </p>
                  </div>
                  <div>
                    <select  [(ngModel)]="checkSearch" class="search-select background-search">
                      <option value="">chọn tìm kiếm</option>
                      <option value="productName">Tên sản phẩm</option>
                      <option value="price">Số giá</option>
                    </select>
                  </div>

                  <div style="position: relative">
                    <input #element style="width: 300px" class="header-search search-input background-search"
                            placeholder="Bạn cần tìm gì?"
                            type="text"><i
                    class="fa fa-search"
                    style="position: absolute; right: 15px; top: 9px; font-size: 20px"></i>
                  </div>
                  <div>
                    <button (click)="search(element.value)"  class="btn-search btn-rounded  btn-sm my-0" style="width: 100px">Tìm
                      kiếm
                    </button>
                  </div>
                </div>
                <!--                search-->

              </div>
            </div>
            <div>
              <div class="tbl-header">
                <table class="table table-bordered table-responsive-md ">
                  <thead>
                  <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Tên Sản Phẩm</th>
                    <th class="text-center">Mã Sản Phẩm</th>
                    <th class="text-center">Giá(VND)</th>
                    <th class="text-center">CPU</th>
                    <th class="text-center">Lưu Trữ</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="tbl-content">
                <table class=" table table-bordered table-responsive-md">
                  <tbody>
                  <tr (click)="getProduct(product)" *ngFor="let product of productList; index as i"
                      [class.heightLight]="isSelectedProduct(product)">
                    <td class="text-center">{{(i + 1)}}</td>
                    <td class="pt-3-half">{{product.name}}</td>
                    <td class="pt-3-half">{{product.id}}</td>
                    <td class="text-center">{{product.price}}</td>
                    <td class="pt-3-half">{{product.cpu}}</td>
                    <td class="pt-3-half">{{product.memory}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <br>
              <div class="row">
                <div class="col-6">
                  <button (click)="chooseProduct(exits)" type="button" class="btn-edit btn-rounded  btn-lg my-0">
                    <i  class="fa fa-paper-plane"></i>
                    Chọn</button>
                  <button #exits type="button" class="btn-delete btn-rounded  btn-lg my-0"
                          data-dismiss="modal"><i class="fa-solid fa-right-from-bracket"></i> Thoát
                  </button>
                </div>

                <div class="col-6">
                  <!--Pagination-->
                  <nav class="d-flex justify-content-center wow fadeIn float-right">
                    <ul class="pagination pg-blue">
                      <div *ngIf="!first">
                        <a  style="color: #D70018" type="button" class="page-link" (click)="previousPage()">   <button class="btn btn-success">trang trước</button></a>
                      </div>
                      <li class="page-item active" *ngFor="let index of totalPages">
                        <a type="button" class="page-item" [ngClass]="index == pageNumber+1 ? 'active' : ''" (click)="getAllProductPage(index)">
                          <span  style="color: #D70018">{{index}}</span>
                        </a>
                      </li>
                      <a  *ngIf="!last" type="button" class="page-link" (click)="nextPage()">
                        <button class="btn btn-success">trang sau</button></a>
                    </ul>
                  </nav>
                  <!--Pagination-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
