<!--/*-->
<!--Created by tamHT-->
<!--Time: 13:37 03/06/2022-->
<!--Method: pageProduct()-->
<!--*/-->
<div style="display: flex  ; justify-content: center ">
  <div class="modal fade" id="productModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="card card-body">
            <h1 class="text-center font-weight-bold text-uppercase  py-4">
              CHỌN SẢN PHẨM
            </h1>
          </div>
          <div class="card card-body">
            <div class="table-editable">
              <div class="row">
                <div class="col-12">
                  <div class="mb-3" style="display: flex; justify-content: space-evenly">
                    <div>
                      <p style="margin-top: 10px">Tìm kiếm theo: </p>
                    </div>
                    <div>
                      <select [(ngModel)]="checkSearch" class="search-select background-search">
                        <option value="name">Tên sản phẩm</option>
                        <option value="price">giá</option>
                      </select>
                    </div>

                    <div style="position: relative">
                      <input [(ngModel)]="searchValue" #element style="width: 300px"
                             class="header-search search-input background-search"
                             placeholder="Bạn cần tìm gì?"
                             type="text"><i (click)="search(element.value)"
                      class="fa fa-search"
                      style="position: absolute; right: 15px; top: 9px; font-size: 20px"></i>
                    </div>
                    <div>
                      <button  (click)="getAll()" class="btn-search btn-rounded  btn-sm my-0"
                              style="width: 100px">làm Mới
                      </button>
                    </div>
                  </div>
                  <!--                search-->

                </div>
              </div>
              <div>


                <!--              phần hiên thị lỗi-->
                <div *ngIf="message">
                  <div class="tbl-header">
                    <table class="table table-bordered table-responsive-md ">
                      <thead>
                      <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Tên Sản Phẩm</th>
                        <th class="text-center">Mã Sản Phẩm</th>
                        <th class="text-center">Giá(VND)</th>
                        <th class="text-center">CPU</th>
                        <th class="text-center">Lưu Trữ</th>
                        <th class="text-center">số lượng</th>
                      </tr>
                      </thead>
                    </table>
                  </div>

                  <div>
                    <table class=" table table-bordered table-responsive-md">
                      <tbody>
                      <tr>
                        <td style="text-align: center ; color: #D70018; font-size: 20px ; padding-bottom: 350px">Không
                          tìm
                          thấy dữ liệu cần
                          tìm.
                        </td>

                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--end hiển thị llox-->


                <div>
                  <div *ngIf="!message">
                    <div class="tbl-header">
                      <table class="table table-bordered table-responsive-md ">
                        <thead>
                        <tr>
                          <th class="text-center">STT</th>
                          <th class="text-center">Tên Sản Phẩm</th>
                          <th class="text-center">Mã Sản Phẩm</th>
                          <th class="text-center">Giá(VND)</th>
                          <th class="text-center">CPU</th>
                          <th class="text-center">Lưu Trữ</th>
                          <th class="text-center">Số lượng</th>
                        </tr>
                        </thead>
                      </table>
                    </div>

                    <div class="tbl-content">
                      <table class=" table table-bordered table-responsive-md">
                        <tbody>
                        <tr (click)="getProduct(product)" *ngFor="let product of productList; index as i"
                            [class.heightLight]="isSelectedProduct(product)">
                          <td class="text-center">{{(i + 1)}}</td>
                          <td class="text-center">{{product.name}}</td>
                          <td class="text-center">{{product.id}}</td>
                          <td class="text-center">{{product.price |currency :'VND':''}}</td>
                          <td class="text-center">{{product.cpu}}</td>
                          <td class="text-center">{{product.memory}}</td>
                          <td class="text-center">{{product.quantity}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-6">
                      <div style="margin-left: 19px">
                        <button *ngIf="currentProduct" (click)="chooseProduct(exit)" type="button"
                                class="btn-edit btn-rounded  btn-lg my-0">
                          <i class="fa fa-paper-plane"></i>
                          Chọn
                        </button>
                        <button (click)="close()" type="button" class="btn-delete btn-rounded  btn-lg my-0"
                                data-dismiss="modal"><i class="fa-solid fa-right-from-bracket"></i> Thoát
                        </button>
                        <button [hidden]="true" #exit type="button" class="btn-delete btn-rounded  btn-lg my-0"
                                data-dismiss="modal"><i class="fa-solid fa-right-from-bracket"></i> Thoát
                        </button>
                      </div>
                    </div>


                    <div class="col-6">
                      <!--Pagination-->
                      <nav aria-label="Page navigation example"
                           style="display: flex; justify-content: end ; margin-right: 19px">
                        <ul class="pagination">
                          <li *ngIf="!message &&!first " style="color: #333333" class="page-item"><a
                            (click)="previousPage()" class="page-link"
                            style="width:70px ; height: 40px ;text-align: center ; line-height: 35px ; box-sizing: border-box ; background-color: #277CEA">Previous</a>
                          </li>
                          <div *ngFor="let index of totalPages">
                            <li [class.select-index]="checkColorIndex(index)" *ngIf="!message" style="color: #333333"
                                class="page-item"><a
                              [ngClass]="index == pageNumber+1 ? 'active' : ''"
                              (click)="getAllProductPage(index)"
                              style="width:40px ; height: 40px ; text-align: center ;line-height: 35px ; box-sizing: border-box ; background-color: #277CEA"
                              class="page-link">{{index}}</a></li>
                          </div>
                          <li *ngIf="!last && !message" style="color: #333333" class="page-item"><a (click)="nextPage()"
                                                                                                    class="page-link"
                                                                                                    style="width:50px ;text-align: center ; height: 40px ; line-height: 35px ; box-sizing: border-box;  background-color: #277CEA"
                          >Next</a>
                          </li>
                        </ul>
                      </nav>
                      <!--Pagination-->
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--modall-->
<div id="successModal" class="modal fade">
  <div class="modal-dialog modal-confirm modal-confirm-success">
    <div class="modal-content">
      <div class="modal-header modal-header-success justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <button type="button" class="close" data-mdb-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4>Thông báo!</h4>
        <p>Không có sản phẩm nào được chọn.</p>
        <button type="button" class="btn btn-danger" id="delete_btn" data-dismiss="modal">Đồng ý
        </button>
      </div>
    </div>
  </div>
</div>

<div [hidden]="true" id="main-container">

</div>
